{% extends "layouts/layout.njk" %}

{% block pageTitle %}
  My messages and contact history
{% endblock %}

{% block content %}

  {{ govukBackLink({
      "text": "Back",
      "href": "javascript: window.history.go(-1)"
    }) 
  }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Evidence history</h1>
      <p class="govuk-body">View any evidence you have uploaded in the last 14 months.</p>
      <div class="notificationWrapper"><p class="govuk-body">Additionally, you can <a href="/pages/caseworker-connect/index" class="govuk-link">Upload new files related to an existing request</a>.</p></div>
      </br></br>
    </div>
  </div>

  </br>

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-full filters-mobile">
      
      <a id="toggle-filter" href="#" class="govuk-link govuk-!-margin-bottom-6" onClick="toggleFilter()">
        <span id="toggle-filter-icon" class="govuk-accordion-nav__chevron govuk-accordion-nav__chevron--down"></span>
        Show filters ({{ data["filter-count"] }} applied)
      </a>
    </div>
    <div class="govuk-grid-column-one-third filters-desktop">
      {# filters #}
      <h2 class="govuk-heading-m">Filters</h2>
      <h3 class="govuk-heading-s">Date uploaded</h3>
      <form method="POST" action="">
        {{ govukInput({
          label: {
            text: "Files uploaded after",
            classes: "govuk-label"
          },
          id: "messages-after",
          name: "messages-after",
          value: data["messages-after"],
          hint: {
            text: "For example 2020 or 21/11/2020"
          }
        }) }}

        {{ govukInput({
          label: {
            text: "Files uploaded before",
            classes: "govuk-label"
          },
          id: "messages-before",
          name: "messages-before",
          value: data["messages-before"],
          hint: {
            text: "For example 2020 or 21/11/2020"
          }
        }) }}

        <a class="govuk-link block govuk-!-margin-bottom-6" href="">Clear all filters</a>

        {{ govukButton({
          text: "Apply filter",
          name: "apply-filter",
          element: "input",
          classes: "govuk-button--secondary"
        }) }}

      </form>
    </div>
    <div class="govuk-grid-column-two-thirds">
        <table class="govuk-table">
        <caption class="govuk-table__caption govuk-table__caption--m">Previously uploaded evidence</caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">File name</th>
            <th scope="col" class="govuk-table__header">Date uploaded</th>
            <th scope="col" class="govuk-table__header">Change request of attached file</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td scope="row" class="govuk-table__cell"><a href="#" class="govuk-link">Image0.png</a></th>
            <td class="govuk-table__cell">17 June 2025</td>
            <td class="govuk-table__cell">None attached</td>
          </tr>
          <tr class="govuk-table__row">
            <td scope="row" class="govuk-table__cell"><a href="#" class="govuk-link">Image1.png</a></th>
            <td class="govuk-table__cell">3 June 2025</td>
            <td class="govuk-table__cell">None attached</td>
          </tr>
          <tr class="govuk-table__row">
            <td scope="row" class="govuk-table__cell"><a href="#" class="govuk-link">Image2.png</a></th>
            <td class="govuk-table__cell">12 March 2025</td>
             <td class="govuk-table__cell">None attached</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

{% endblock %}