{% extends "layouts/layout.njk" %}

{% block header %}
  {# {% include "includes/header_handover.njk" %} #}
  {% include "includes/header.njk" %}
  {% endblock %}


{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    
<a href="javascript: window.history.go(-1)" class="govuk-back-link">Back</a>


<h1 class="govuk-heading-xl">Before you continue</h1>

<div>
<p class="govuk-body">You will need:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>the date you became Bill's main carer</li>
  <li>how long you expect the change to last</li>
  <li>details of why Bill's main carer has changed</li>
  <li>details of how often you are the person responsible for areas of Bill's care</li>
</ul>
</div>
<div>
<h2 class="govuk-heading-l">Asking the other parent</h2>
</div>
<p class="govuk-body">We will ask the other parent about Bill's day-to-day care and make our decision using the information we have from both of you.
</p>
<div>
<h2 class="govuk-heading-l">Sending evidence</h2>
</div>
<div>
<p class="govuk-body">
  You should send evidence if you can. This will support your change in case you and the other parent disagree. We will ask you to upload it to your account within 7 days of reporting the change.
<br>
</br>
  If you do not have evidence, you can still report the change and we will make a decision using the information we have.
<br>
</br>
  If you and the other parent agree on the change, we do not need to look at your evidence.
</p>
</div>
<details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      What we can accept
    </span>
  </summary>
  <div class="govuk-details__text">
    <p class="govuk-body">Examples of what we can accept:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>legal documents - for example, a court order</li>
  <li>communication showing your day-to-day responsibility - for example, letter from your child's GP</li>
  <li>records of money you have spent on your child's care - for example, receipts</li>
</ul>
    <p class="govuk-body">We cannot accept:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>communication that is only between you and the other parent</li>
  <li>photos of your child</li>
  <li>screenshots of social media</li>
  <li>calendar entries</li>
</ul>
  </div>
</details>
<div>
<h2 class="govuk-heading-l">Your payments may change</h2>
</div>
<div>
<p class="govuk-body">RThe change you report may affect your child maintenance payments.
</p>
</div>
<button type="submit" class="govuk-button" data-module="govuk-button">
  Continue
</button>
</div>
</div>

{% endblock %}