o{% extends "layouts/layout.njk" %}

{% block pageTitle %}
  Track Changes
{% endblock %}

{% block content %}

  <a href="/pages/track-changes/timeline-v1" class="govuk-back-link">Back to Track Changes</a><br></br>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-5">Shared care</h1>
      <p class="govuk-body">
        {{ govukTag({
          text: "evidence requested",
          classes: "govuk-tag--purple govuk-!-margin-right-3"
        }) }}
        <a href="/pages/messages/upload-evidence/start" class="govuk-link">Upload evidence</a>
      </p>
      <p class="govuk-body">If we need evidence from:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>you, we have sent you a message. <a href="#">View messages and contact history</a> to see if you need to upload evidence</li>
        <li>the other parent, you will not have received a message from us. You do not need to do anything</li>
      </ul>
      <h2 class="govuk-heading-m">Completion date</h2>
      <p class="govuk-body">We aim to complete any actions required by 10 March 2021.</p>
    </div>
  </div>

{% endblock %}