{% extends "layouts/layout.njk" %}
{% from "includes/macros/payment-toast.njk" import createToast %}

{% block content %}
	<a href="/pages/payments" class="govuk-back-link">Back to Payments</a><br></br>
	<div class="govuk-grid-row">
		{# {{ createToast() }} #}
		<div class="govuk-grid-column-two-thirds">
			<h1 class="govuk-heading-xl govuk-!-margin-bottom-7">Payments you receive for Noah and 1 more</h1>
			<h2 class="govuk-heading-m">Collect and Pay</h2>
			<p class="govuk-body">We’ve worked out your payments until your next annual review on 12 September 2023.</p>
			<p class="govuk-body">Find out
				<a class="govuk-link" href="/pages/payments/payment-calculations/rp-calculations">how we calculated your child maintenance</a>.
			</p>
			<div class="next-payment">
				<h2 class="govuk-heading-m">Next expected payment</h2>
				<p class="govuk-body">Check your bank or building society account to confirm you have received a payment. It may take up to 5 days for a payment to reach your account.</p>
				<div class="next-payment-table">
					{% set html %}
						<p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-0">
							Amount
						</p>
						<span class="govuk-hint">Regular maintenance after 4% collection fee deduction, not including any arrears due</span>
					{% endset %}
					{{ govukSummaryList({
						rows: 
						[
							{
								key: {
									classes: "next-monthly-payment-key",
									html: html
								},
								value: {
									classes: "next-monthly-payment-value",
									text: "£382.91"
								}
							},
							{
								key: {
									classes: "next-monthly-payment-key",
									text: "Collection date"
								},
								value: {
									classes: "next-monthly-payment-value",
									text: "21 June 2023"
								}
							}
						]
					}) }}
					<p class="govuk-body">To view your payment plan,
						<a class="govuk-link" href="/pages/messages">go to messages</a>.
					</p>
				</div>
			</div>
			<div class="previous-payments">
				<div class="previous-payments-table">	
					{{ govukTable({
						firstCellIsHeader: true,
						caption: "Previous payments",
						captionClasses: "govuk-heading-m",
						head: [
							{
								text: "Date of payment",
								classes: "previous-payments-header previous-payments-cell"
							},
							{
								text: "Amount after 4% collection fee deduction including any arrears",
								format: "numeric",
								classes: "previous-payments-header previous-payments-cell"
							}
						],
						rows: 
						[
							[
								{
									text: "21 May 2023",
									classes: "previous-payments-cell"
								},
								{
									text: "£382.91",
									format: "numeric",
									classes: "previous-payments-cell"
								}
							],
							[
								{
									text: "21 April 2023",
									classes: "previous-payments-cell"
								},
								{
									text: "£382.91",
									format: "numeric",
									classes: "previous-payments-cell"
								}
							],
							[
								{
									text: "21 March 2022",
									classes: "previous-payments-cell"
								},
								{
									text: "£382.91",
									format: "numeric",
									classes: "previous-payments-cell"
								}
							]
						]
					}) }}
				</div>
				<p class="govuk-body">
					<a class="govuk-link" href="/pages/payments/payment-history/rp-collect-all-payments">View more payments</a>
				</p>
			</div>
			<h3 class="govuk-heading-s total-amount-heading">Total amount you have received since 12 September 2022</h3>
			<span class="govuk-hint">After 4% collection fee including any arrears</span>	
			<p class="govuk-body govuk-!-font-weight-bold total-amount-value">£2,297.46</p>
			<p class="govuk-body">You do not need to take any action if you have not received a full payment. As you use Collect and Pay, we know if a payment has been missed or partially paid and will begin an investigation</p>
			<p class="govuk-body">Find out
				<a class="govuk-link" href="#">what information we have about your missed payments</a>.
			</p>
			<h2 class="govuk-heading-m total-amount-heading">Arrears</h2>
			<span class="govuk-hint">Amount owed to you before any collection fee deductions</span>
			<p class="govuk-body govuk-!-font-weight-bold total-amount-value">£5,438.04</p>
			<p class="govuk-body">We will deduct a 4% collection fee from arrears payments you receive using Collect and Pay. This does not apply to arrears from past child maintenance schemes.</p>
			<p class="govuk-body">Find out
				<a class="govuk-link" href="#">what the Child Maintenance Service can do to enforce unpaid child maintenance</a>.
			</p>
		</div>
	</div>
{% endblock %}