{% extends "layouts/layout.njk" %}
{% from "includes/macros/payment-toast.njk" import createToast %}

{% block content %}
	<a href="/pages/welcome" class="govuk-back-link">Back to Home</a><br></br>
	<div class="govuk-grid-row">
		{{ createToast() }}
		<div class="govuk-grid-column-two-thirds">
			<h1 class="govuk-heading-xl govuk-!-margin-bottom-7">Payments you receive for Jim and 2 more</h1>
			<h2 class="govuk-heading-m">Collect and Pay</h2>
			<p class="govuk-body">We’ve worked out your payments until your next annual review on 12 September 2021.
				<a class="govuk-link" href="https://www.gov.uk/how-child-maintenance-is-worked-out" rel="noopener noreferrer" target="_blank">Find out how the Child Maintenance Service works out child maintenance (opens in a new tab)</a>.
			</p>
			<h2 class="govuk-heading-m">This month’s payment</h2>
			<p class="govuk-body">This amount may be split into separate payments due to the way we collect your child maintenance from the other parent. Check your bank or building society account to confirm you have received a payment.</p>
			<div class="next-payment">
				<div class="next-payment-table">			
					{% set html %}
						<p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-0">
							Amount
						</p>
						<span class="govuk-hint">Including 20% collection fee and any arrears</span>
					{% endset %}
					{{ govukSummaryList({
						rows: 
						[
							{
								key: {
									classes: "next-monthly-payment-key",
									html: html
								},
								value: {
									classes: "next-monthly-payment-value",
									text: "£150"
								}
							},
							{
								key: {
									classes: "next-monthly-payment-key",
									text: "Month"
								},
								value: {
									classes: "next-monthly-payment-value",
									text: "September"
								}
							}
						]
					}) }}
				</div>
				<p class="govuk-body">To view your payment plan,
					<a class="govuk-link" href="/pages/messages">go to messages</a>.
				</p>
			</div>
			<div class="previous-payments">
				<div class="previous-payments-table">
					{{ govukTable({
						firstCellIsHeader: true,
						caption: "Previous payments",
						captionClasses: "govuk-heading-m",
						head: [
							{
								text: "Date of payment",
								classes: "previous-payments-header previous-payments-cell"
							},
							{
								text: "Amount after 4% collection fee deduction including any arrears",
								format: "numeric",
								classes: "previous-payments-header previous-payments-cell"
							}
						],
						rows: 
						[
							[
								{
									text: "12 August 2021",
									classes: "previous-payments-cell"
								},
								{
									text: "£80",
									format: "numeric",
									classes: "previous-payments-cell"
								}
							],
							[
								{
									text: "12 July 2021",
									classes: "previous-payments-cell"
								},
								{
									text: "£105",
									format: "numeric",
									classes: "previous-payments-cell"
								}
							],
							[
								{
									text: "12 June 2021",
									classes: "previous-payments-cell"
								},
								{
									text: "£100",
									format: "numeric",
									classes: "previous-payments-cell"
								}
							]
						]
					}) }}
				</div>
				<p class="govuk-body">
					<a class="govuk-link" href="#">View more payments</a>
				</p>
			</div>
			<h3 class="govuk-heading-s total-amount-heading">Total amount you have paid since 12 September 2020</h3>
			<span class="govuk-hint">After 4% collection fee including any arrears</span>
			<p class="govuk-body govuk-!-font-weight-bold total-amount-value">£500</p>
			<p class="govuk-body">You do not need to take any action if you have not received a full payment. As you use Collect and Pay, we know if a payment has been missed or partially paid and will begin an investigation.</p>
			<p class="govuk-body">If you have information that will support our investigation, you can share this by
				<a class="govuk-link" href="#">reporting a missed payment</a>.
			</p>
			<h2 class="govuk-heading-m total-amount-heading">Arrears</h2>
			<span class="govuk-hint">Amount owed to you before any collection fee deductions</span>
			<p class="govuk-body govuk-!-font-weight-bold total-amount-value">£500</p>
			<p class="govuk-body">We will deduct a 4% collection fee from arrears payments you receive using Collect and Pay. This does not apply to arrears from past child maintenance schemes.</p>
			<p class="govuk-body">Find out
				<a class="govuk-link" href="#">what the Child Maintenance Service can do to enforce unpaid child maintenance</a>.
			</p>
		</div>
	</div>
{% endblock %}