{% extends "layouts/layout.njk" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {{ govukBackLink({
					"text": "Back",
					"href": "javascript: window.history.go(-1)"
				}) 
			}}

      <h1 class="govuk-heading-xl govuk-!-margin-bottom-7">Where do you live?</h1>
      <p class="govuk-body">If you have not added a postal address, we will send all your letters here.</p>
      <p class="govuk-body govuk-!-margin-bottom-7">These details are private and are not shared with the other parent.</p>

    </div>

    <div class="govuk-grid-column-two-thirds">
      <form class="form" action="/pages/my-details-and-circumstances/home-address/enter-home-address-manually" method="post">
        {{ govukInput({
              label: {
                text: "Address line 1",
                classes: "govuk-label",
                isPageHeading: false
              },
              id: "home-address-line-1",
              name: "home-address-line-1"
            }) }}

        {{ govukInput({
              label: {
                text: "Address line 2",
                classes: "govuk-label",
                isPageHeading: false
              },
              id: "home-address-line-2",
              name: "home-address-line-2"
            }) }}

        {{ govukInput({
              label: {
                text: "Town or city",
                classes: "govuk-label",
                isPageHeading: false
              },
              id: "home-town-city",
              name: "home-town-city",
              classes: "govuk-input--width-20"
            }) }}

        {{ govukInput({
              label: {
                text: "County",
                classes: "govuk-label",
                isPageHeading: false
              },
              id: "home-county",
              name: "home-county",
              classes: "govuk-input--width-20"
            }) }}

        {{ govukInput({
              label: {
                text: "Postcode",
                classes: "govuk-label",
                isPageHeading: false
              },
              id: "home-postcode",
              name: "home-postcode",
              classes: "govuk-input--width-10"
            }) }}

        {# {{ govukInput({
              label: {
                text: "Country",
                classes: "govuk-label",
                isPageHeading: false
              },
              id: "home-country",
              name: "home-country",
              classes: "govuk-input--width-20"
            }) }} #}

        {# {{ govukSelect({
              id: "home-country",
              name: "home-country",
              label: {
                text: "Country"
              },
              classes: "width--10",
              items: [
                {
                  value: "england",
                  text: "England",
                  selected: true
                },
                {
                  value: "ireland",
                  text: "Ireland"
                },
                {
                  value: "scotland",
                  text: "Scotland"
                },
                {
                  value: "wales",
                  text: "Wales"
                }
              ]
            }) }} #}

        {{ govukButton({
                text: "Continue",
                type: "submit"
            }) }}

        <p class="govuk-body">
          <a href="/pages/my-details-and-circumstances/home-address/enter-home-address-manually-outside-uk" class="govuk-link">I live outside the UK</a>
        </p>
      </form>
    </div>
  </div>

{% endblock %}