{% extends "layouts/layout.njk" %}

{% block pageTitle %}  
  Payment service
{% endblock %}

{% block content %}

  {{ govukBackLink({
      "text": "Back",
      "href": "javascript: window.history.go(-1)"
    }) 
  }}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <br>
      <h1 class="govuk-heading-xl">Keep using Direct Pay</h1>

      <p class="govuk-body">You’re still on Direct Pay. We cannot take action to recover unpaid child maintenance if you do not change to Collect and Pay.</p>
      <p class="govuk-body">If you keep using Direct Pay:</p>
      <ul class="govuk-list govuk-list--bullet">
            <li>you and the other parent arrange your own child maintenance payments</li>
            <li>you must check that you receive correct payments on the agreed dates</li>
       </ul>
      
      <a href="/pages/welcome-rp-B" class="govuk-button">
          Return to homepage
      </a>

      <div>
        <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
          If you need help with this change
          </span>
          </summary>

          <div class="govuk-details__text">
              <h4 class="govuk-heading-s">Webchat</h4>
              <p class="govuk-body">We do not accept any behaviour that is abusive or threatening to our staff. We will end the webchat if your behaviour is unacceptable.</p>
              <p class="govuk-body"><a class="govuk-link" href="#">Start webchat</a><br>Monday to Friday, 8am to 7:30pm (except public holidays) <br> Saturday, 9am to 1pm.</p>
          </div>
        </details>
      </div>
    </div>
  </div>

  

{% endblock %}