{% extends "layouts/layout.njk" %}

{% block pageTitle %}  
  Payment service
{% endblock %}

{% block content %}

  {{ govukBackLink({
      "text": "Back",
      "href": "javascript: window.history.go(-1)"
    }) 
  }}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <br>
      <h1 class="govuk-heading-xl">When we can take action to recover unpaid child maintenance</h1>

      <p class="govuk-body">We can only take action to recover unpaid child maintenance:</p>
      <ul class="govuk-list govuk-list--bullet">
            <li>from 12 March 2022, the start of your current annual review period</li>
            <li>that is late by 5 days or more</li>
            <li>when you receive less than 90% of the amount you expected</li>
      </ul>

      <form method="post">
      <button class="govuk-button">
          Continue
      </button>
      </form>


      <div>
        <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
          If you need help with this change
          </span>
          </summary>

          <div class="govuk-details__text">
              <h4 class="govuk-heading-s">Webchat</h4>
              <p class="govuk-body">We do not accept any behaviour that is abusive or threatening to our staff. We will end the webchat if your behaviour is unacceptable.</p>
              <p class="govuk-body"><a class="govuk-link" href="#">Start webchat</a><br>Monday to Friday, 8am to 7:30pm (except public holidays) <br> Saturday, 9am to 1pm.</p>
          </div>
        </details>
      </div>
    </div>
  </div>

  

{% endblock %}