{% extends "layouts/layout.njk" %}

{% block content %}
{{ govukBackLink({
      "text": "Back",
      "href": "javascript: window.history.go(-1)"
    }) 
  }}

	<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Has a change you have already told us about affected you paying in full and on time?</h1>
      <p class="govuk-body">This could also mean that you paid in full but not on time.</p>

       <form class="form" action="p6-bankstatement" method="POST">
      {{ govukRadios({
          idPrefix: "changeOfCirc",
          name: "changeOfCirc",
          fieldset: {
            legend: {
              text: "",
              isPageHeading: no,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "Yes",
              text: "Yes"
            },
            {
              value: "No",
              text: "No"
            }
          ]
        }) }}

      <button type="submit" class="govuk-button">
        Continue
      </button>
	 </form>

	  </div>
	  </div>

{% endblock %}