{% extends "layouts/layout.njk" %}

{% block pageTitle %}
  {{ t['leaving-education']['education'] }}
{% endblock %}

{% block content %}

  {{ govukBackLink({
      "text": "Back",
      "href": "javascript: window.history.go(-1)"
    }) 
  }}<br></br>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="" method="POST">
        {{ govukRadios({
          classes: "govuk-radios",
          idPrefix: "f-whichChild",
          name: "whichChild",
          fieldset: {
            legend: {
              text: t['leaving-education']['which-child-left-education'],
              isPageHeading: true,
              classes: "govuk-fieldset__legend govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "Elsy",
              text: "Elsy"
            },
            {
              value: "Ebony",
              text: "Ebony"
            }
          ]
        }) }}
        <button type="submit" class="govuk-button" name="startNow">
          {{ t['common']['continue'] }}
        </button>
      </form>
    </div>
  </div>
{% endblock %}