{% extends "layouts/layout.njk" %}

{% block content %}
{{ govukBackLink({
      "text": "Back",
      "href": "javascript: window.history.go(-1)"
    }) 
}}

<div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl govuk-!-margin-bottom-7">Payment plan for Rojgqcfirstname</h1>
            
              <h2 class="govuk-heading-m">
                  Scheduled payments for annual review period 25 November 2025 to 25 November 2026
              </h2>
              <p class="govuk-body">To view your previous payment plans, <a class="govuk-link--no-visited-state" href="/online-account/secure/notifications/messages-contact-history">go to notifications</a>.</p>
              <div class="govuk-inset-text">
                  All amounts include any arrears, plus a 20% collection fee if you use Collect and Pay.
              </div>
  
              <table class="govuk-table">


  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
    
      <th scope="col" class="govuk-table__header date-column payment-plan-cell">Collection</th>
    
      <th scope="col" class="govuk-table__header method-column payment-plan-cell">Method</th>
    
      <th scope="col" class="govuk-table__header govuk-table__header--numeric amount-column payment-plan-cell">Due (£)</th>
    
    </tr>
  </thead>

  <tbody class="govuk-table__body">

  
    <tr class="govuk-table__row">
    
      
      
      <th scope="row" class="govuk-table__header payment-plan-cell">25 November 2025</th>
      
    
      
      
      <td class="govuk-table__cell payment-plan-cell">Direct debit</td>
      
    
      
      
      <td class="govuk-table__cell govuk-table__cell--numeric payment-plan-cell"><a class="govuk-link" href="wmutp">£37.20</a></td>
      
    
    </tr>
  

  
    <tr class="govuk-table__row">
    
      
      
      <th scope="row" class="govuk-table__header payment-plan-cell">25 December 2025</th>
      
    
      
      
      <td class="govuk-table__cell payment-plan-cell">Direct debit</td>
      
    
      
      
      <td class="govuk-table__cell govuk-table__cell--numeric payment-plan-cell"><a class="govuk-link" href="wmutp">£37.20</a></td>
      
    
    </tr>
  

  
    <tr class="govuk-table__row">
    
      
      
      <th scope="row" class="govuk-table__header payment-plan-cell">25 January 2026</th>
      
    
      
      
      <td class="govuk-table__cell payment-plan-cell">Direct debit</td>
      
    
      
      
      <td class="govuk-table__cell govuk-table__cell--numeric payment-plan-cell"><a class="govuk-link" href="wmutp">£37.20</a></td>
      
    
    </tr>
  

  
    <tr class="govuk-table__row">
    
      
      
      <th scope="row" class="govuk-table__header payment-plan-cell">25 February 2026</th>
      
    
      
      
      <td class="govuk-table__cell payment-plan-cell">Direct debit</td>
      
    
      
      
      <td class="govuk-table__cell govuk-table__cell--numeric payment-plan-cell"><a class="govuk-link" href="wmutp">£37.20</a></td>
      
    
    </tr>
  

  
    <tr class="govuk-table__row">
    
      
      
      <th scope="row" class="govuk-table__header payment-plan-cell">25 March 2026</th>
      
    
      
      
      <td class="govuk-table__cell payment-plan-cell">Direct debit</td>
      
    
      
      
      <td class="govuk-table__cell govuk-table__cell--numeric payment-plan-cell"><a class="govuk-link" href="wmutp">£37.20</a></td>
      
    
    </tr>
  

  
    <tr class="govuk-table__row">
    
      
      
      <th scope="row" class="govuk-table__header payment-plan-cell">25 April 2026</th>
      
    
      
      
      <td class="govuk-table__cell payment-plan-cell">Direct debit</td>
      
    
      
      
      <td class="govuk-table__cell govuk-table__cell--numeric payment-plan-cell"><a class="govuk-link" href="wmutp">£37.20</a></td>
      
    
    </tr>
  

  
    <tr class="govuk-table__row">
    
      
      
      <th scope="row" class="govuk-table__header payment-plan-cell">25 May 2026</th>
      
    
      
      
      <td class="govuk-table__cell payment-plan-cell">Direct debit</td>
      
    
      
      
      <td class="govuk-table__cell govuk-table__cell--numeric payment-plan-cell"><a class="govuk-link" href="wmutp">£37.20</a></td>
      
    
    </tr>
  

  
    <tr class="govuk-table__row">
    
      
      
      <th scope="row" class="govuk-table__header payment-plan-cell">25 June 2026</th>
      
    
      
      
      <td class="govuk-table__cell payment-plan-cell">Direct debit</td>
      
    
      
      
      <td class="govuk-table__cell govuk-table__cell--numeric payment-plan-cell"><a class="govuk-link" href="wmutp">£37.20</a></td>
      
    
    </tr>
  

  
    <tr class="govuk-table__row">
    
      
      
      <th scope="row" class="govuk-table__header payment-plan-cell">25 July 2026</th>
      
    
      
      
      <td class="govuk-table__cell payment-plan-cell">Direct debit</td>
      
    
      
      
      <td class="govuk-table__cell govuk-table__cell--numeric payment-plan-cell"><a class="govuk-link" href="wmutp">£37.20</a></td>
      
    
    </tr>
  

  
    <tr class="govuk-table__row">
    
      
      
      <th scope="row" class="govuk-table__header payment-plan-cell">25 August 2026</th>
      
    
      
      
      <td class="govuk-table__cell payment-plan-cell">Direct debit</td>
      
    
      
      
      <td class="govuk-table__cell govuk-table__cell--numeric payment-plan-cell"><a class="govuk-link" href="wmutp">£37.20</a></td>
      
    
    </tr>
  

  
    <tr class="govuk-table__row">
    
      
      
      <th scope="row" class="govuk-table__header payment-plan-cell">25 September 2026</th>
      
    
      
      
      <td class="govuk-table__cell payment-plan-cell">Direct debit</td>
      
    
      
      
      <td class="govuk-table__cell govuk-table__cell--numeric payment-plan-cell"><a class="govuk-link" href="wmutp">£37.20</a></td>
      
    
    </tr>
  

  
    <tr class="govuk-table__row">
    
      
      
      <th scope="row" class="govuk-table__header payment-plan-cell">25 October 2026</th>
      
    
      
      
      <td class="govuk-table__cell payment-plan-cell">Direct debit</td>
      
    
      
      
      <td class="govuk-table__cell govuk-table__cell--numeric payment-plan-cell"><a class="govuk-link" href="wmutp">£37.20</a></td>
      
    
    </tr>
  

  
    <tr class="govuk-table__row">
    
      
      
      <th scope="row" class="govuk-table__header payment-plan-cell">25 November 2026</th>
      
    
      
      
      <td class="govuk-table__cell payment-plan-cell">Direct debit</td>
      
    
      
      
      <td class="govuk-table__cell govuk-table__cell--numeric payment-plan-cell"><a class="govuk-link" href="wmutp">£37.20</a></td>
      
    
    </tr>
  

  </tbody>
</table>

            

        </div>
    </div>

  {% endblock %}