{% extends "layouts/layout.njk" %}

{% block content %}
{{ govukBackLink({
      "text": "Back",
      "href": "javascript: window.history.go(-1)"
    }) 
}}

	<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

     {{ govukPanel({
        titleText: "You need to give us any evidence you have",
        html: ""
      }) }}

      <p class="govuk-body">
        We have received your report about the change to Bill's overnight shared care.
      </p>

      <h2 class="govuk-heading-m">What you need to do</h2>

      <p class="govuk-body">
        Upload your court order by 14 February
      </p>
      
      <form class="form" action="ct-confirmation" method="POST">

      <button type="submit" class="govuk-button">
       Upload evidence
      </button>
	 </form>


      <h2 class="govuk-heading-m">What happens next</h2>

      <p class="govuk-body">
       We will:
      </p>
      <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
        <li>Ask the other parent if they agree with the number of nights you have told us</li>
        <li>Look at the information we have from you both</li>
        <li>Tell you the progress we have made on our decision in <a href="#" class="govuk-link">track changes</a></li>
        <li>Send you a letter in <a href="#" class="govuk-link">notifications</a> to let you know about any changes and effects on your payments</li>
      </ul>

      <p class="govuk-body">
       <a href="#" class="govuk-link">View your change in track changes.</a> (it may take up to 30 seconds for your change to appear)
      </p>

       <p class="govuk-body">
       If you need help, <a href="#" class="govuk-link">contact us</a>.
      </p>


	  </div>
	  </div>

{% endblock %}