{% extends "layouts/layout.njk" %}

{% block content %}
{{ govukBackLink({
      "text": "Back",
      "href": "javascript: window.history.go(-1)"
    }) 
}}

	<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">You have told us Bill started staying 125 nights a year with the other parent on 2 February. Is this also the case for other children? </h1>
      <p class="govuk-hint">Select all children that apply</p>

      <form class="form" action="ct-shCheckAnswersFirst" method="POST">

        {{ govukRadios({
          idPrefix: "childrentree-whichParent",
          name: "childrentree-whichParent",
          fieldset: {
            legend: {
              text: "",
              isPageHeading: no,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "Bob",
              text: "Bob"
            },
            {
              value: "Ben",
              text: "Ben"
            },
            {
              divider: "or"
            },
            {
              value: "None",
              text: "No, only Bill's started staying 125 nights on 2 February"
            }
          ]
        }) }}

        <div class="govuk-inset-text">
          If other children's arrangements have changed to something else, report them separately.
        </div>

      <button type="submit" class="govuk-button">
        Continue
      </button>
	 </form>

	  </div>
	  </div>

{% endblock %}