{% extends "layouts/layout.njk" %}

{% block content %}
{{ govukBackLink({
      "text": "Back",
      "href": "javascript: window.history.go(-1)"
    }) 
}}

	<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">We need to ask you some questions about Bill's day-to-day care</h1>
      <p class="govuk-body">You have told us you have regular shared care of 190 nights a year. This is more than 3 nights a week on average. </p>
      <p class="govuk-body">Because this is more than half the time, you may have become Bill's main carer.</p>
      <p class="govuk-body"><a href="./ct-whiteHall" class="govuk-link">What main day-to-day care is and how it affects payments</a></p>
      <p class="govuk-body">We will ask you who is responsible for different areas of Bill's care to help us make a decision.</p>
      <p class="govuk-body">Then, we will ask the other parent the same questions and compare your answers.</p>

      <h2 class="govuk-heading-l">We will ask for evidence</h2>
      <p class="govuk-body">You have already told us about any evidence you have for overnight shared care. We will also ask for evidence for day-to-day care in case the other parent gives different answers. We will let you know later what to give us based on your answers.</p>

      <h2 class="govuk-heading-l">What will happen afterwards</h2>
      <p class="govuk-body">If we decide:</p>
        <ul class="govuk-list govuk-list--bullet">
        <li>the other parent still has most of Bill's day-to-day care, we will only make the change to overnight shared care you told us about</li>
        <li>you now have most of Bill's day-to-day care, we will make a change to Bill's main carer rather than a change to their overnight shared care</li>
        <li>you and the other parent equally share Bill's day-to-day care, we will let you know what happens next</li>
      </ul>


      <form class="form" action="ct-mainCarer" method="POST">

      <button type="submit" class="govuk-button">
        Continue
      </button>
	 </form>

	  </div>
	  </div>

{% endblock %}