{% extends "layouts/layout.njk" %}

{% block content %}
{{ govukBackLink({
      "text": "Back",
      "href": "javascript: window.history.go(-1)"
    }) 
}}

	<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="ct-shCheckAnswersFirst" method="POST">


        {{ govukRadios({
          idPrefix: "childrentree-whatToReport",
          name: "childrentree-whatToReport",
          fieldset: {
            legend: {
              text: "Which type of evidence do you have?",
              isPageHeading: yes,
              classes: "govuk-fieldset__legend--xl"
            }
          },
                      hint: {
              text: "Choose the most recent one"
            },
          items: [
 
            {
              value: "CourtOrder",
              text: "A current court order"
            },
            {
              value: "FormalAgreement",
              text: "A formal agreement",
              hint: { 
              text: "for example drawn up by a solicitor"
              }
            },
            {
              value: "CAFCASS",
              text: "Another official document",
              hint: { 
              text: "for example reports from Children and Family Court Advisory and Support Service (CAFCASS) or social services"
              }
            },
            {
              divider: "or"
            },
            {
              value: "None",
              text: "None of these"
            }
          ]
        }) }}

      <button type="submit" class="govuk-button">
        Continue
      </button>
	 </form>

	  </div>
	  </div>

{% endblock %}