{% extends "layouts/layout.njk" %}

{% block content %}
{{ govukBackLink({
      "text": "Back",
      "href": "javascript: window.history.go(-1)"
    }) 
}}

	<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Check your answers</h1>
    
        <h2 class="govuk-heading-m">Who is responsible for areas of Bill's child care?</h1>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Spare time
            </dt>
            <dd class="govuk-summary-list__value">
              ANSWER
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> name</span></a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Meals
            </dt>
            <dd class="govuk-summary-list__value">
              ANSWER
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> customer reference</span></a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Clothes
            </dt>
            <dd class="govuk-summary-list__value">
              ANSWER
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> address</span></a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Arranges childcare
            </dt>
            <dd class="govuk-summary-list__value">
              ANSWER
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> contact details</span></a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Pays for childcare
            </dt>
            <dd class="govuk-summary-list__value">
              ANSWER
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> contact details</span></a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              School contact
            </dt>
            <dd class="govuk-summary-list__value">
              ANSWER
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> contact details</span></a>
            </dd>
          </div>
                     <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Arranges childminder
            </dt>
            <dd class="govuk-summary-list__value">
              ANSWER
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> date of birth</span></a>
            </dd>
          </div>

                     <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Takes to dentist
            </dt>
            <dd class="govuk-summary-list__value">
              ANSWER
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> date of birth</span></a>
            </dd>
          </div>
                     <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Takes to doctor
            </dt>
            <dd class="govuk-summary-list__value">
              ANSWER
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> date of birth</span></a>
            </dd>
          </div>
                     <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Involved in activities for fun
            </dt>
            <dd class="govuk-summary-list__value">
              ANSWER
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> date of birth</span></a>
            </dd>
          </div>
                     <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Pays for activities for fun
            </dt>
            <dd class="govuk-summary-list__value">
              ANSWER
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> date of birth</span></a>
            </dd>
          </div>
                     <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Government financial benefits
            </dt>
            <dd class="govuk-summary-list__value">
              ANSWER
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> date of birth</span></a>
            </dd>
          </div>
        </dl>

      <form class="form" action="ct-scEvidence" method="POST">
      <button type="submit" class="govuk-button">
        Continue
      </button>
	 </form>

	  </div>
	  </div>

{% endblock %}