{% extends "layouts/layout.njk" %}

{% block header %}
  {# {% include "includes/header_handover.njk" %} #}
  {% include "includes/header.njk" %}
  {% endblock %}

{% block beforeContent %}
    {% include "includes/partials/account-menu-rp.njk" %}
{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

<a href="javascript: window.history.go(-1)" class="govuk-back-link">Back</a>


<div class="govuk-form-group">
  <fieldset class="govuk-fieldset">
        <form class="form" action="/pages/report-change/children-tree/rp/roc-cifba/children-on-record" method="POST">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
      <h1 class="govuk-fieldset__heading">
        Who financially supports the child?
      </h1>
    </legend>
    <div class="govuk-radios" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="moreFinancial" name="moreFinancial" type="radio" value="bill">
        <label class="govuk-label govuk-radios__label" for="moreFinancial">
          The parent who pays for George and 2 others
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="moreFinancial-2" name="moreFinancial" type="radio" value="alex">
        <label class="govuk-label govuk-radios__label" for="moreFinancial-2">
          The parent who pays for Alex
        </label>
      </div>
    </div>
  </fieldset>                                                                                                                                                                                          
</div>
<div>
</div>
  <button type="submit" class="govuk-button" data-module="govuk-button">
    Continue
  </button>
</form>
</div>
</div>
</main>
</div>

{% endblock %}