{% extends "layouts/layout.njk" %}

{% block content %}
{{ govukBackLink({
      "text": "Back",
      "href": "javascript: window.history.go(-1)"
    }) 
}}

	<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">What has changed for {{data['childrentree-whichChild']}} </h1>
      <p class="govuk-body">If you are reporting more than one change, report each change separately. </p>

      <form class="form" action="" method="POST">

        {{ govukRadios({
          idPrefix: "childrentree-whatToReport",
          name: "childrentree-whatToReport",
          fieldset: {
            legend: {
              text: "",
              isPageHeading: no,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
 
            {
              value: "HowOften",
              text: "How often" + ' ' + data['childrentree-whichChild'] + ' ' +"stays overnight with the other parent",
               hint: {
                text: "This is known as shared care"
              }
            },
            {
              value: "Primary",
              text: "I no longer have most of" + ' ' + data['childrentree-whichChild'] + 's' + ' ' + "day-to-day care",
              hint: {
                text: "This is known as primary care"
              }
            },
            {
              value: "Adoption",
              text: data['childrentree-whichChild']+ ' ' + "has been adopted"
            },
                  {
              value: "FTE",
              text: data['childrentree-whichChild']+ ' ' + "has left full time education"
            }
          ]
        }) }}


      <button type="submit" class="govuk-button">
        Continue
      </button>
	 </form>

	  </div>
	  </div>

{% endblock %}