{% extends "layouts/layout.njk" %}

{% block content %}
{{ govukBackLink({
  "text": "Back",
  "href": "/pages/report-change/shared-care/shared-care-start"
}) 
}}

	<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Who has the same parents as the child you are reporting a change for? </h1>
      <p class="govuk-body">Report changes to each child separately. </p>

      <form class="form" action="shared-care-P2" method="POST">

        {{ govukRadios({
          idPrefix: "childrentree-whichParent",
          name: "childrentree-whichParent",
          fieldset: {
            legend: {
              text: "",
              isPageHeading: no,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "Bill1",
              text: "Bill, Bob and 1 other"
            },
            {
              value: "Bill",
              text: "Bill",
               hint: {
                text: "Born 6 September 2017"
              }
            },
            {
              value: "Alex",
              text: "Alex"
            },
              {
              divider: "or"
            },
            {
              value: "None of these",
              text: "None of these",
              hint: {
                text: "You do not already have a child maintenance case with their parent"
              }
            }
          ]
        }) }}

        <div class="govuk-inset-text">
          You previously [paid/received] child maintenance for Sophie, Jack and 2 others but their case has closed. If your new child has the same parents as them, apply for child maintenance.
        </div>

      <button type="submit" class="govuk-button">
        Continue
      </button>
	 </form>

	  </div>
	  </div>

{% endblock %}