{% extends "layouts/layout.njk" %}

{% block content %}
{{ govukBackLink({
      "text": "Back",
      "href": "javascript: window.history.go(-1)"
    }) 
}}

	<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Which child do you need to tell us about?</h1>
      <p class="govuk-body">Report changes to each child separately</p>

      <form class="form" action="/which-child-answer-pp" method="POST">

        {{ govukRadios({
          idPrefix: "childrentree-whichChild",
          name: "childrentree-whichChild",
          fieldset: {
            legend: {
              text: "",
              isPageHeading: no,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
    {
      value: "Bill",
      text: "Bill - Born 5 Apr 2010"
    },
    {
      value: "Bill",
      text: "Bill - Born 6 Sep 2017"
    },
    {
      value: "Bob",
      text: "Bob"
    },
    {
      value: "Alex",
      text: "Alex"
    },
    {
      divider: "or"
    },
    {
      value: "New",
      text: "Another child"
    }
  ]
}) }}

{% from "govuk/components/details/macro.njk" import govukDetails %}

{% call govukDetails({
  summaryText: "When you cannot report changes to a child"
}) %}
<div>
  <p class="govuk-body">You cannot report changes to a child if:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>we are still processing your child maintenance application</li>
    <li>they are no longer eligible for child maintenance</li>
    <li>the case they are in is closed</li>
  </ul>   
  </div>
{% endcall %}

      <button type="submit" class="govuk-button">
        Continue
      </button>
	 </form>

	  </div>
	  </div>

{% endblock %}