{% extends "layouts/layout.njk" %}

{% block content %}
{{ govukBackLink({
      "text": "Back",
      "href": "javascript: window.history.go(-1)"
    }) 
}}

	<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Which child are you reporting a change for?</h1>
      <p class="govuk-body">Report changes to each child separately. </p>

      <form class="form" action="" method="POST">

        {{ govukRadios({
          idPrefix: "childrentree-whichChild",
          name: "childrentree-whichChild",
          fieldset: {
            legend: {
              text: "",
              isPageHeading: no,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "Bill",
              text: "Bill",
              hint: {
                text: "Born 5 April 2010"
              }
            },
            {
              value: "Bill",
              text: "Bill",
               hint: {
                text: "Born 6 September 2017"
              }
            },
            {
              value: "Bob",
              text: "Bob"
            },
            {
              value: "Alex",
              text: "Alex"
            },
            {
              value: "New",
              text: "Your new child",
              hint: {
                text: "Who you do not yet pay or receive child maintenance for"
              }
            },
            {
              value: "Financialsupport",
              text: "A child the pther parent financially supports outside your child maintenance cases"
            }
          ]
        }) }}

      <button type="submit" class="govuk-button">
        Continue
      </button>
	 </form>

	  </div>
	  </div>

{% endblock %}