<div class="cmg-pagination">
  <ul class="cmg-pagination__list">
    <li class="cmg-pagination__item cmg-pagination__item--prev">
      <a href="#" class="cmg-pagination__link cmg-pagination__link--prev">&lt;&lt; Previous</a>
    </li>
    <li class="cmg-pagination__item">
      <a href="#" class="cmg-pagination__link">1</a>
    </li>
    <li class="cmg-pagination__item">...</li>
    <li class="cmg-pagination__item">
      <a href="#" class="cmg-pagination__link">8</a>
    </li>
    <li class="cmg-pagination__item">
      <a href="#" class="cmg-pagination__link">9</a>
    </li>
    <li class="cmg-pagination__item cmg-pagination__item--active">
      <a href="#" class="cmg-pagination__link cmg-pagination__link--active">10</a>
    </li>
    <li class="cmg-pagination__item">
      <a href="#" class="cmg-pagination__link">11</a>
    </li>
    <li class="cmg-pagination__item">
      <a href="#" class="cmg-pagination__link">12</a>
    </li>
    <li class="cmg-pagination__item">...</li>
    <li class="cmg-pagination__item">
      <a href="#" class="cmg-pagination__link">16</a>
    </li>
    <li class="cmg-pagination__item cmg-pagination__item--next">
      <a href="#" class="cmg-pagination__link cmg-pagination__link--next">Next &gt;&gt;</a>
    </li>
  </ul>
</div>