{% extends "layouts/layout.njk" %}

{% block pageTitle %}
  Change of income
{% endblock %}

{% block content %}

  {{ govukBackLink({
      "text": "Back",
      "href": "javascript: window.history.go(-1)"
    }) 
  }}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="rp-income-details" method="post">
        {% set conditionalHtml %}
        <p class="govuk-body">You can upload your evidence document once you have completed the change </p>
        {% endset -%}
        {{ govukRadios({
          idPrefix: "written-evidence",
          name: "written-evidence",
          fieldset: {
            legend: {
              text: "Have you got written evidence of the other parent's income change?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend govuk-fieldset__legend--xl"
            }
          },
          hint: {
            text: "For example a profit and loss account or a business plan"
          },
          items: [
            {
              value: "Yes",
              text: "Yes",
              checked: checked("written-evidence", "Yes"),
              conditional:{
                html: conditionalHtml
              }
            },
            {
              value: "No",
              checked: checked("written-evidence", "No"),
              text: "No"
            }
          ]
        }) }}
        
        <button type="submit" class="govuk-button" data-module="govuk-button">
          Continue
        </button>
    </form>

      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Chat to an adviser
          </span>
        </summary>
        <div class="govuk-details__text">
          <h4 class="govuk-heading-s">Webchat</h4>
          <p class="govuk-body">We do not accept any behaviour that is abusive or threatening to our staff. We will end the webchat if your behaviour is unacceptable.</p>
          <p class="govuk-body"><a class="govuk-link" href="#">Start webchat</a><br>Monday to Friday, 8am to 7:30pm (except public holidays) <br> Saturday, 9am to 1pm.</p>
        </div>
      </details>
    </div>
  </div>


{% endblock %}