{% extends "layouts/layout.njk" %}

{% block pageTitle %}
  Change of income
{% endblock %}

{% block content %}

  {{ govukBackLink({
      "text": "Back to income",
      "href": "javascript: window.history.go(-1)"
    }) 
  }}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Change of income</h1>

      <p class="govuk-body">You can tell the Child Maintenance Service if there is an increase or decrease in the gross taxable annual income of the other parent. Changes to the other parent’s income may affect your child maintenance.</p>

      <p class="govuk-body">We review Child Maintenance each year, on the anniversary of the date we were first told about the application for child maintenance. We use the other parent’s latest available income information to calculate your child maintenance. This may be provided by the other parent, HMRC, their employer or a third party such as their accountant. Once we have completed your Annual Review your child maintenance payments may stay the same, increase or decrease.</p>

      <p class="govuk-body">If their gross taxable income changes by at least 25%, before your Annual Review, we will review the payments earlier. If their income has changed by less than 25%, we will take this into consideration at the time of your Annual Review.</p>

      <p class="govuk-body">If they have more than one job add their income from each job together as you need to provide us with an annual total.</p>
      
      <a href="rp-income-which-case" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
        Continue
      </a>

  <details class="govuk-details" data-module="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Chat to an adviser
    </span>
  </summary>
  <div class="govuk-details__text">
    <h4 class="govuk-heading-s">Webchat</h4>
    <p class="govuk-body">We do not accept any behaviour that is abusive or threatening to our staff. We will end the webchat if your behaviour is unacceptable.</p>
    <p class="govuk-body"><a class="govuk-link" href="#">Start webchat</a><br>Monday to Friday, 8am to 7:30pm (except public holidays) <br> Saturday, 9am to 1pm.</p>
  </div>
</details>

{% endblock %}