{% extends "layouts/layout.njk" %}

{% block pageTitle %}
  Change income
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <br>

      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">
          We have received your request
        </h1>
      </div>

      <h2 class="govuk-heading-l">What happens next</h2>

      <p class="govuk-body">We will review your request within 32 days. Before we can process your request, we need to:</p>
      <ul class="govuk-list govuk-list--bullet">
            <li>complete any previously reported changes that may impact this request
            <li>contact the other parent to make sure we have all the correct information</li>
      </ul>
      <p class="govuk-body">If your child maintenance payment:</p>
      <ul class="govuk-list govuk-list--bullet">
            <li>changes, we will send you a new payment plan. It will explain the payment amount and payment date </li>
            <li>remains the same, we will let you know</li>
      </ul>
    
      <p class="govuk-body">Make sure your <a class="govuk-link" href="/pages/my-details-and-circumstances">contact details and preferences</a> are up to date in case we need to contact you.</p>
      </div>
  </div>

  

{% endblock %}