$breakpoint-mobile: 640px;

.payments-history {
  margin: 0px;
}
.total-amount-paid {
  margin: 0px;
  padding-top: 15px;
}
.all-payments-filter {
  border-bottom: 1px solid #bfc1c3;
}
.change-date-period {
  text-align: right;
  padding-right: 0;
}
.payment-history-key,
.next-monthly-payment-key {
  width: 50%;
  padding-right: 50px;
}
.payment-history-key {
  width: 66.66%;
}
.next-payment {
  margin-bottom: 30px;
}
.next-payment-table {
  margin-bottom: -10px;
}
.previous-payments {
  margin-bottom: 30px;
}
.previous-payments-table {
  margin-bottom: -10px;
}
.previous-payments-header {
  width: 30%;
}
.previous-payments-header-amount {
  width: 40%;
}
.previous-payments-cell {
  padding-right: 25px !important;
}
.total-amount-heading {
  margin-bottom: 0;
}
.total-amount-header {
  border-bottom: none;
  width: 50%;
  font-size: 24px;
}
.total-amount-cell {
  border-bottom: none;
  width: 50%;
}
.total-amount-value {
  font-size: 36px;
  margin-top: 10px;
  margin-bottom: 15px;
}

@media (max-width: $breakpoint-mobile) {
  .next-payment-table {
    .govuk-summary-list {
      display: table;
      width: 100%;
      table-layout: fixed;
      border-collapse: collapse;
      &__row {
        display: table-row;
        border-bottom: 1px solid #b1b4b6
      }
    }
  }

  .payment-history-key,
  .payment-history-value,
  .next-monthly-payment-key,
  .next-monthly-payment-value {
    display: table-cell;
    width: 50%;
    padding-top: govuk-spacing(2);
    padding-right: govuk-spacing(4);
    padding-bottom: govuk-spacing(2);
  }
  .payment-history-key {
    width: 55%;
  }
  .total-amount-header {
    font-size: 19px;
  }
  .total-amount-value {
    font-size: 24px;
  }
}