{%- if params.actions | length > 1 -%}
  {% set multiActionClass = 'multiple' %}
{%- endif -%}

<div class="cmg-summary-table">
  <div class="cmg-summary-table__header">
    <h2 class="cmg-summary-table__heading govuk-heading-m">
      <a href="{{params.link}}" class="govuk-link">{{params.title}}</a>
    </h2>
  </div>
  <div class="cmg-summary-table__content">
    {%- if params.html -%}
      {{ params.html | safe }}
    {%- elif params.text -%}
      <p class="govuk-body">{{ params.text }}</p>
    {%- endif -%}
  </div>
  {%- if params.actions -%}
    <div class="cmg-summary-table__footer{% if multiActionClass %} {{ multiActionClass }} {% endif %}">
      {% for item in params.actions %}
        {{ item.html | safe }}
      {% endfor %}
    </div>
  {%- endif -%}
</div>