<div class="govuk-grid-column-one-third mb-full">

  {{
    cmgSummaryTable({
      title: 'Payments for John and 1 more',
      html: "<p class='govuk-body govuk-!-margin-bottom-1'>No payments due</p>"
    })
  }}

</div>