{{
  cmgSummaryTable({
    title: 'Messages',
    html: "<p class='govuk-body govuk-!-margin-bottom-1'>No previous messages</p>",
    actions: [
      {
        html: '<a href="#" class="govuk-link">Send a message</a>'
      }
    ]
  })
}}