{% extends "layouts/layout.njk" %}

{% block header %}
  {# {% include "includes/header_handover.njk" %} #}
  {% include "includes/header.njk" %}
  {% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

{{ govukBackLink({
      "text": "Back",
      "href": "javascript: window.history.go(-1)"
    }) 
}}
<div class="govuk-form-group">
    <form action="/have-you-stopped-answer" method="post">
  <fieldset class="govuk-fieldset" aria-describedby="changedName-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
      <h1 class="govuk-fieldset__heading">
        Have you or your partner stopped financially supporting a child?
      </h1>
    </legend>
    <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="stoppedFinance" name="stoppedFinance" type="radio" value="yes">
        <label class="govuk-label govuk-radios__label" for="stoppedFinance">
          Yes
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="stoppedFinance-2" name="stoppedFinance" type="radio" value="no">
        <label class="govuk-label govuk-radios__label" for="stoppedFinance-2">
          No
        </label>
      </div>
    </div>
  </fieldset>
</div>
<div>
  <button type="submit" class="govuk-button" data-module="govuk-button">
    Continue
  </button>
</div>
</div>

{% endblock %}