{% extends "layouts/layout.njk" %}

{% block header %}
  {# {% include "includes/header_handover.njk" %} #}
  {% include "includes/header.njk" %}
  {% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

{{ govukBackLink({
      "text": "Back",
      "href": "javascript: window.history.go(-1)"
    }) 
}}
<div class="govuk-form-group">
  <form action="check-answers" method="post">
  <fieldset class="govuk-fieldset" role="group" aria-describedby="child3-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
      <h1 class="govuk-fieldset__heading">
        When did you stop financially supporting {{ data['rocName'][2] }}?
      </h1>
    </legend>
    <p class="govuk-body">If you cannot remember, tell us an approximate date.</p>
    <div id="child3-hint" class="govuk-hint">
      For example, 27 3 2007
    </div>
    <div class="govuk-date-input" id="child3-date">
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="child3-day">
            Day
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="child3-day" name="child3-day" type="text" inputmode="numeric">
        </div>
      </div>
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="child3-month">
            Month
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="child3-month" name="child3-month" type="text" inputmode="numeric">
        </div>
      </div>
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="child3-year">
            Year
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="child3-year" name="child3-year" type="text" inputmode="numeric">
        </div>
      </div>
    </div>
  </fieldset>
</div>
  <button type="submit" class="govuk-button" data-module="govuk-button">
    Continue
  </button>
</div>
</div>

{% endblock %}