<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <nav id="secondary-nav" class="account-menu" role="navigation" aria-label="Account">
          <div class="govuk-grey-bar">
      <ul id="accountMenuHome" class="account-menu__home">
        <li>
          <!--Desktop - Home-->
              <a href="/pages/welcome" class="govuk-link account-menu__link {{ "account-menu__link--active" if activeLink === "home" }}">Home</a>
        </li>
        <li>
          <!--Desktop - Notifications-->
          <a href="/pages/messages" class="govuk-link account-menu__link {{ "account-menu__link--active" if activeLink === "messages" }}">Notifications</a>
        </li>
        <li>
          <!--Desktop - Report a change-->
          <a href="/pages/report-change" class="govuk-link account-menu__link {{ "account-menu__link--active" if activeLink === "report-change" }}">Report a change</a>
        </li>
        <li>
          <!--Desktop - Payments-->
          <a href="/pages/payments" class="govuk-link account-menu__link {{ "account-menu__link--active" if activeLink === "payments" }}">Payments</a>
        </li>
        <li>
          <!--Desktop - Track changes-->
          <a href="/pages/track-changes/timeline-v2" class="govuk-link account-menu__link {{ "account-menu__link--active" if activeLink === "track-changes" }}">Track changes</a>
        </li>
        <li>
          <!--Desktop - Case details-->
          <a href="/pages/my-case-details" class="govuk-link account-menu__link {{ "account-menu__link--active" if activeLink === "my-case-details" }}">Case details</a>
        </li>
      </ul>

      <!--MOBILE MENU-->
      <div class="account-menu__mobile">
        <div class="account-menu__header">
           <!--Mobile - Home--> 
            <a id="accountMenuMobileHome" href="/pages/welcome" class="govuk-link account-menu__mob__link {{ "account-menu__mob__link--active" if activeLink === "home" }}">Home</a>
          <button id="accountMenuMobileToggle" class="govuk-link menu-toggle-button" onClick="toggleMenu()">{{t.common.menu}}</button>
        </div>
        
        <ul id="accountMenuHomeMobile" class="account-menu__mob">
          <li>
            <!--Mobile - Notifications-->
            <a href="/pages/messages" class="govuk-link account-menu__mob__link {{ "account-menu__mob__link--active" if activeLink === "messages" }}">Notifications</a>
          </li>
          <li>
            <!--Mobile - Report a change-->
            <a href="/pages/report-change" class="govuk-link account-menu__mob__link {{ "account-menu__mob__link--active" if activeLink === "report-change" }}">Report a change</a>
          </li>
          <li>
            <!--Mobile - Payments-->
              <a href="/pages/payments/" class="govuk-link account-menu__mob__link {{ "account-menu__mob__link--active" if activeLink === "payments" }}">Payments</a>
          </li>
          <li>
            <!--Mobile - Track changes-->
            <a href="/pages/track-changes/timeline-v2" class="govuk-link account-menu__mob__link {{ "account-menu__mob__link--active" if activeLink === "track-changes" }}">Track changes</a>
          </li>
          <li>
            <!--Mobile - Case details-->
            <a href="/pages/my-case-details" class="govuk-link account-menu__mob__link {{ "account-menu__mob__link--active" if activeLink === "my-case-details" }}">Case details</a>
          </li>
          <li>
            <a href="/" class="govuk-link account-menu__mob__link">Sign out</a>
          </li>
        </ul>
      </div>

      <ul id="accountMenuMain" class="account-menu__main">

        <li>
          <a href="/" class="govuk-link account-menu__link">Sign out</a>
        </li>

      </ul>
      <div style="clear: both;"></div>
    </nav>

  </div>
</div>