  <script>
    function toggleWhatsNew() {
      document.getElementById('whatsNewContainer').style.display = 'none';
    }
  </script>

<div id="whatsNewContainer">
<div class="fullWidthBlueBar">
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <nav id="secondary-nav" class="whatsNew-menu" role="navigation" aria-label="Account">
          <div class="govuk-blue-bar">
      <ul id="accountMenuHome" class="account-menu__home">
        <li>
          <!--Desktop - Home-->
              <strong class="govuk-tag govuk-tag--yellow" style="margin-right: 15px;">New</strong>
        <li>
          <!--Desktop - Notifications-->
          <a href="./whatsNew" class="govuk-link account-menu__link whatsNewLink">See our latest features</a>
        </li>
      </ul>

            <ul id="accountMenuMain" class="account-menu__main">

        <li>
          <button class="emptyButtonStyle" onClick="toggleWhatsNew()"><div href="" class="govuk-link account-menu__link" style="color: #0C2D4A !important;">Close</div></button>
        </li>

      </ul>

      <!--MOBILE MENU-->
      <div class="account-menu__mobile">
        <div class="account-menu__header">
           <!--Mobile - Home--> 
            <a id="accountMenuMobileHome" href="./whatsNew" class="govuk-link account-menu__mob__link whatsNewLink"> <strong class="govuk-tag govuk-tag--yellow" style="margin-right: 15px;">New</strong>Try our latest features</a>
            <button class="emptyButtonStyle" onClick="toggleWhatsNew()" ><div id="accountMenuMobileHome" class="govuk-link account-menu__mob__link" style="color: #0C2D4A !important;">Close</div></button>
        </div>

      </div>
      <div style="clear: both;"></div>
    </nav>
  </div>
</div>
</div>