{% extends "layouts/layout.njk" %}

{% block content %}
{{ govukBackLink({
      "text": "Back",
      "href": "javascript: window.history.go(-1)"
    }) 
}}

	<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">When did {{data['other-firstName']}} become {{data['childrentree-whichChild']}}'s main day-to-day carer?</h1>
       <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
        <li>If you cannot remember the exact date tell us an approximate date.</li>
        <li>If you have a legal document as evidence, tell us the date it says day-to-day or primary care changed</li>
      </ul>

      <br>

      <form class="form" action="ct-otherWhy" method="POST">

      {{ govukDateInput({
        id: "otherDate",
        namePrefix: "otherDate",
        fieldset: {
          legend: {
            text: "",
            isPageHeading: false,
            classes: "govuk-fieldset__legend--m"
          }
        },
        hint: {
          text: "For example, 27 3 2026"
        }
      }) }}


      <button type="submit" class="govuk-button">
        Continue
      </button>
	 </form>

	  </div>
	  </div>

{% endblock %}