{% extends "layouts/layout.njk" %}

{% block content %}
{{ govukBackLink({
      "text": "Back",
      "href": "javascript: window.history.go(-1)"
    }) 
}}

	<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Evidence for {{data['childrentree-whichChild']}}'s main day-to-day care</h1>
      <p class="govuk-body">If you have it, you should upload evidence supporting the change to {{data['childrentree-whichChild']}}'s day-to-day care. </p>

      <h2 class="govuk-heading-l">Examples of evidence you should send</h2>

      <h3 class="govuk-heading-m">Time and responsibility</h3>
      <p class="govuk-body">Communication from:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>{{data['childrentree-whichChild']}}'s school, nursery, college or clubs</li>
        <li>{{data['childrentree-whichChild']}}'s GP, dentist or other medical professional</li>
        <li>{{data['childrentree-whichChild']}}'s childcare providers</li>
      </ul>

      <h3 class="govuk-heading-m">Money</h3>
      <ul class="govuk-list govuk-list--bullet">
        <li>Bank statements</li>
        <li>Receipts for {{data['childrentree-whichChild']}}'s basic essentials</li>
        <li>Contracts for {{data['childrentree-whichChild']}}'s childcare or activies you have paid for</li>
      </ul>

      <h3 class="govuk-heading-m">Legal</h3>
      <p class="govuk-body">These documents may say you have primary or equal care for {{data['childrentree-whichChild']}}.</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>Court order</li>
        <li>Guardianship order</li>
        <li>Social services report</li>
      </ul>

      <h2 class="govuk-heading-l">What we cannot accept</h2>
      <ul class="govuk-list govuk-list--bullet">
        <li>Communication that is only between you and the other parent</li>
        <li>Photos of your child</li>
        <li>Screenshots of social media</li>
        <li>Calendar entries</li>
      </ul>


      <form class="form" action="ct-otherDeclaration" method="POST">


        {{ govukCheckboxes({
        name: "waste",
        fieldset: {
          legend: {
            text: "",
            isPageHeading: false,
            classes: "govuk-fieldset__legend--l"
          }
        },
        items: [
          {
            value: "approval",
            text: "I have noted which evidence to upload"
          }
        ]
      }) }}

      <button type="submit" class="govuk-button">
        Continue
      </button>
	 </form>

	  </div>
	  </div>

{% endblock %}