{% extends "layouts/layout.njk" %}

{% block content %}
{{ govukBackLink({
      "text": "Back",
      "href": "javascript: window.history.go(-1)"
    }) 
}}

	<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Evidence for {{data['childrentree-whichChild']}}'s main day-to-day care</h1>
      <p class="govuk-body">If you have it, you should upload evidence supporting the change to {{data['childrentree-whichChild']}}'s day-to-day care. </p>

      <h2 class="govuk-heading-l">Examples of evidence you should send</h2>

      <h3 class="govuk-heading-m">Legal documents</h3>
      <p class="govuk-body">These documents may say you have primary or equal care for {{data['childrentree-whichChild']}}.</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>court order</li>
        <li>guardianship order</li>
      </ul>

      <h3 class="govuk-heading-m">What we cannot accept</h2>
      <ul class="govuk-list govuk-list--bullet">
        <li>communication that is only between you and the other parent</li>
        <li>photos of your child</li>
        <li>screenshots of social media</li>
        <li>calendar entries</li>
      </ul>


      <form class="form" action="ct-otherDeclaration" method="POST">


        {{ govukCheckboxes({
        name: "waste",
        fieldset: {
          legend: {
            text: "",
            isPageHeading: false,
            classes: "govuk-fieldset__legend--l"
          }
        },
        items: [
          {
            value: "approval",
            text: "I have noted which evidence to upload"
          }
        ]
      }) }}

      <button type="submit" class="govuk-button">
        Continue
      </button>
	 </form>

	  </div>
	  </div>

{% endblock %}