{% extends "layouts/layout.njk" %}

{% block content %}
{{ govukBackLink({
      "text": "Back",
      "href": "javascript: window.history.go(-1)"
    }) 
}}

	<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Who has become {{data['childrentree-whichChild']}}'s main day-to-day carer?</h1>

       <form class="form" action="" method="POST">
            {{ govukRadios({
          idPrefix: "childrentree-whoCares",
          name: "childrentree-whoCares",
          fieldset: {
            legend: {
              text: "",
              isPageHeading: no,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
 
            {
              value: "me",
              text: "Me"
            },
                  {
              value: "other",
              text: "Someone else"
            }
          ]
        }) }}

      {# <div class="govuk-inset-text">
        <a href="#" class="govuk-link">What counts as the main day-to-day carer</a>
      </div> #}


      <button type="submit" class="govuk-button">
        Continue
      </button>
	 </form>

	  </div>
	  </div>

{% endblock %}