{% extends "layouts/layout.njk" %}

{% block content %}
{{ govukBackLink({
      "text": "Back",
      "href": "javascript: window.history.go(-1)"
    }) 
}}

	<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Date of change</h1>
     <p class="govuk-body">Tell us when this changed:</p>
       <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
        <li>If you cannot remember the exact date tell us an approximate date</li>
        <li>If you have a written agreement in place, it should tell you the date the number of nights changed or started</li>
      </ul>

      <br>

      <form class="form" action="ct-userPermanent" method="POST">

      {{ govukDateInput({
        id: "passport-issued",
        namePrefix: "passport-issued",
        fieldset: {
          legend: {
            text: "When did you take on Bill's day-to-day care?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        hint: {
          text: "For example, 27 3 2026"
        }
      }) }}


      <button type="submit" class="govuk-button">
        Continue
      </button>
	 </form>

	  </div>
	  </div>

{% endblock %}