{% extends "layouts/layout.njk" %}

{% block content %}
{{ govukBackLink({
      "text": "Back",
      "href": "javascript: window.history.go(-1)"
    }) 
}}

	<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

<div class="govuk-form-group">
  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
      <h1 class="govuk-fieldset__heading">
        Which child do you need to tell us about?
      </h1>
    </legend>
    <div id="change-hint" class="govuk-hint">
      Report changes to each child separately
    </div>
    <div class="govuk-radios" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="qcChild" name="qcChild" type="radio" value="George">
        <label class="govuk-label govuk-radios__label" for="qcChild">
          George
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="qcChild-1" name="qcChild" type="radio" value="Olivia">
        <label class="govuk-label govuk-radios__label" for="qcChild-1">
          Olivia
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="qcChild-2" name="qcChild" type="radio" value="Alex">
        <label class="govuk-label govuk-radios__label" for="qcChild-2">
          Alex
        </label>
      </div>
       <div class="govuk-radios__divider">or</div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="qcChild-3" name="qcChild" type="radio" value="A child you need to add to Child Maintenance">
        <label class="govuk-label govuk-radios__label" for="qcChild-3">
          A child you need to add to Child Maintenance
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="qcChild-4" name="qcChild" type="radio" value="Another child a paying parent financially supports">
        <label class="govuk-label govuk-radios__label" for="qcChild-4">
          Another child a paying parent financially supports
        </label>
      </div>
    </div>
  </fieldset>
  <br>
  </br>
<div>
      <button type="submit" class="govuk-button">
        Continue
      </button>
</div>
	 </form>

	  </div>
	  </div>

{% endblock %}