{% extends "layouts/layout.njk" %}

{% block content %}

    <h1 class="govuk-heading-xl govuk-!-margin-bottom-7">Impact of Coronavirus (Covid-19)</h1>

    <p class="govuk-body">
        The Department for Work and Pensions has taken steps to make sure it can continue to deliver essential services during the coronavirus (COVID -19) outbreak. This affects the Child Maintenance Service.
    </p>

    <p class="govuk-body">
        The Child Maintenance Service are moving towards delivering a full service again. We have provided answers to some of the questions you may have about the current service:
    </p>

    <ul class="govuk-list">
        <li>
            <a class="govuk-link" href="#">Paying parent information</a>
        </li>
        <li>
            <a class="govuk-link" href="#">Receiving parent information</a>
        </li>
        <li>
            <a class="govuk-link" href="#">Employer information</a>
        </li>
    </ul>

    <p class="govuk-body govuk-!-font-weight-bold">Find out how to <a class="govuk-link" href="http://www.gov.uk/manage-child-maintenance-case " rel="noopener noreferrer" target="_blank">manage your child maintenance case</a>.</p>
    <p class="govuk-body govuk-!-font-weight-bold">See all <a class="govuk-link" href="http://www.gov.uk/coronavirus" rel="noopener noreferrer" target="_blank">corona virus guidance on GOV.UK</p>

    {% endblock %}