{% extends "layouts/layout.njk" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

{% block pageTitle %}
  My messages and contact history
{% endblock %}

{% block content %}

  {{ govukBackLink({
      "text": "Back",
      "href": "javascript: window.history.go(-1)"
    }) 
  }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="/pages/user-select-router" method="POST">
        {{ govukRadios({
          name: "nino",
          fieldset: {
            legend: {
              text: "Select a user",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "RP123456A",
              text: "RP123456A",
              checked: checked("nino", "RP123456A"),
              hint: {
                text: "Collect and pay receiving parent"
              }
            },
            {
              value: "RP123456B",
              text: "RP123456B",
              checked: checked("nino", "RP123456B"),
              hint: {
                text: "Direct pay receiving parent"
              }
            },
            {
              value: "PP123456A",
              text: "PP123456A",
              checked: checked("nino", "PP123456A"),
              hint: {
                text: "Paying parent with one collect and pay case (DEO)"
              }
            },
            {
              value: "PP123456B",
              text: "PP123456B",
              checked: checked("nino", "PP123456B"),
              hint: {
                text: "Paying parent with multiple collect and pay cases"
              }
            }
          ]
        }) }}


        {{ govukButton({
          text: "Set user and got to Home",
          classes: "govuk-button"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}