{% extends "layouts/layout.njk" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        {% set html %}
        <p class="govuk-notification-banner__heading bannerNoMaxWidth">
          We have a request that needs your attention.
          <a href="/pages/caseworker-messaging-mvp/action-required">View requests.</a>
        </p>
        {% endset %}
        {{ 
        govukNotificationBanner({
          html: html
        })
      }}
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
	  <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">
        Direct Pay
      </h1>
      <h2 class="govuk-heading-l govuk-!-margin-bottom-6">
        Welcome, Sam
      </h2>
    </div>
    <div class="govuk-grid-column-one-third">
      {% set html %}
      <ul class="govuk-body">
        <li>
          <a href="/pages/welcome?view=default&userType=NRP" tabindex="-1">PP</a>
        </li>
        <li>
          <a href="/pages/welcome-rp?view=default&userType=PWC" tabindex="-1">RP</a>
        </li>
        <li>
          <a href="/pages/welcome-dual?view=all&userType=Both" tabindex="-1">Dual</a>
        </li>
      </ul>
      {% endset %}
    </div>
    
    <div class="govuk-grid-column-full">
      <h2 class="govuk-heading-m govuk-!-margin-bottom-2">Useful links</h2>
      <ul class="govuk-list useful-links">
        <li class="inline">
          <a class="govuk-link" href="/pages/payments/options">Missed payments</a>
        </li>
        <li class="inline">
          <a class="govuk-link" href="#">Change payment service</a>
        </li>
        <li class="inline">
          <a class="govuk-link" href="#">Update shared care</a>
        </li>
        <li class="inline">
          <a class="govuk-link" href="/pages/messages/upload-evidence/what-to-do">Upload Documents</a>
        </li>
      </ul>
    </div>
  </div>

  <div class="homepageCardsDesktop">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-half mb-full">
        {% if data['view'] === "empty" %}
          {% include "includes/homepage-segments/empty-inbox.njk" %}
        {% else %}
          {% set html %}
          {{ govukTable({
          head: [
            {
              text: "Subject"
            },
            {
              text: "Date"
            }
          ],
          rows: [
            [
              {
                html: "<a href='#' class='black'>Important information about your case</a>"
              },
              {
                text: "11 September 2023"
              }
            ],
            [
              {
                html: "<a href='#' class='black'>We need to check some information with you</a>"
              },
              {
                text: "23 August 2023"
              }
            ]
          ]
          }) }}
          {% endset %}

          {{
          cmgSummaryTable({
            title: 'Notifications',
            link: 'messages',
            html: html,
            actions: [
              {
                html: '<a href="#" class="govuk-link">View all</a>'
              }
            ]
          })
        }}
        {% endif %}
        
      </div>
      <div class="govuk-grid-column-one-half mb-full trackChangesCard">
        {% if data['view'] === "empty" %}
          {% include "includes/homepage-segments/empty-changes.njk" %}
        {% else %}
          {% set html %}
          {{ govukTable({
          rows: [
            [
              {
                text: "Change phone number"
              },
              {
                html: "<strong class='govuk-tag govuk-tag--blue'>Received</strong>"
              }
            ],
            [
              {
                text: "Change address"
              },
              {
                html: "<strong class='govuk-tag govuk-tag--blue'>Received</strong>"
              }
            ]
          ]
        }) }}
          {% endset %}

          {{
            cmgSummaryTable({
              title: 'Track changes',
              link: '/pages/track-changes/timeline-v2',
              html: html,
              actions: [
                {
                  html: '<a href="/pages/track-changes/timeline-v2" class="govuk-link">View all</a>'
                }
              ]
            })
          }}
        {% endif %}
      </div>
    </div>
    

        <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third">
          {% set html %}
          <p class="small govuk-!-margin-bottom-2">Expected payments</p>
          <h4 class="govuk-heading-s govuk-!-margin-bottom-1">Previous</h4>
          <div class="flex space-between">
            <p class="small">17 August 2023</p>
            <p class="small">£96.00</p>
          </div>
          <h4 class="govuk-heading-s govuk-!-margin-bottom-1">Next</h4>
          <div class="flex space-between">
            <p class="small">11 September 2023</p>
            <p class="small">£96.00</p>
          </div>
          <a href="#" class="govuk-link">Missed Payments</a>
          <!--<a href="/pages/payments/payment-calculations/rp-calculations-b" class="govuk-link">View your payment calculation</a>-->
          {% endset %}
          {{
            cmgBrandingSummaryTable({
              service: 'Direct Pay',
              link: '/pages/payments/summary/direct-pay/rp-direct-b',
              title: 'Payments for Noah and 1 more',
              html: html
            })
          }}

        </div>

      {# {% endif %} Commenting out IF statements #}
    </div>
  </div>
  <div class="homepageCardsMobile">
    <div class="paymentsCard mb-full">
      {% if data['view'] === "empty" %}
        {% include "includes/homepage-segments/empty-payments.njk" %}
      {% elif data['view'] === "all" %}
        {% include "includes/homepage-segments/all-payments.njk" %}
      {% elif data['view'] === "janet" %}
        {% include "includes/homepage-segments/janet-payments.njk" %}
      {% elif data['view'] === "clive" %}
        {% include "includes/homepage-segments/clive-payments.njk" %}
      {% else %}
        {% set html %}
         <p class="small govuk-!-margin-bottom-2">Expected payments</p>
        <h4 class="govuk-heading-s govuk-!-margin-bottom-1">Previous</h4>
        <div class="flex space-between">
          <p class="small">17 August 2023</p>
          <p class="small">£96.00</p>
        </div>
        <h4 class="govuk-heading-s govuk-!-margin-bottom-1">Next</h4>
        <div class="flex space-between">
          <p class="small">11 September 2023</p>
          <p class="small">£96.00</p>
        </div>
        <a href="#" class="govuk-link">Missed Payments</a>
        <!--<a href="/pages/payments/payment-calculations/rp-calculations-b" class="govuk-link">View your payment calculation</a>-->
        {% endset %}
        {{
          cmgBrandingSummaryTable({
			      service: 'Direct Pay',
            link: '/pages/payments/summary/direct-pay/rp-direct-b',
            title: 'Payments for Noah and 1 more',
            html: html
          })
        }}
      {% endif %}
    </div>
    <div class="messagesCard mb-full">
      {% if data['view'] === "empty" %}
        {% include "includes/homepage-segments/empty-inbox.njk" %}
      {% else %}
        {% set html %}
        {{ govukTable({
        head: [
          {
            text: "Subject"
          },
          {
            text: "Date"
          }
        ],
        rows: [
          [
            {
              html: "<a href='#' class='black'>Important information about your case</a>"
            },
            {
              text: "11 September 2023"
            }
          ],
          [
            {
              html: "<a href='#' class='black'>We need to check some information with you</a>"
            },
            {
              text: "23 August 2023"
            }
          ]
        ]
        }) }}
        {% endset %}

        {{
        cmgSummaryTable({
          title: 'Notifications',
          link: 'messages',
          html: html,
          actions: [
            {
              html: '<a href="#" class="govuk-link">View all</a>'
            }
          ]
        })
      }}
      {% endif %}
    </div>
    <div class="trackChangesCard mb-full">
      {% if data['view'] === "empty" %}
        {% include "includes/homepage-segments/empty-changes.njk" %}
      {% else %}
        <div class="trackChangesCardTabletTable">
          {% set html %}
            {{ govukTable({
            rows: [
              [
                { 
                  text: "Change phone number"
                },
                {
                  html: "<strong class='govuk-tag govuk-tag--blue'>Received</strong>"
                }
              ],
              [
                {
                  text: "Change address"
                },
                {
                  html: "<strong class='govuk-tag govuk-tag--blue'>Received</strong>"
                }
              ]
            ]
            }) }}
          {% endset %}
          {{
          cmgSummaryTable({
            title: 'Track changes',
            link: '/pages/track-changes/timeline-v2',
            html: html,
            actions: [
              {
                html: '<a href="/pages/track-changes/timeline-v2" class="govuk-link">View all</a>'
              }
            ]
          })
        }}
        </div>
        <div class="trackChangesCardMobileTable">
          {% set firstRowHtml %}
            <div class='trackChangesType'>Change phone number</div>
            <strong class='govuk-tag govuk-tag--blue'>Received</strong>
          {% endset %}
          {% set secondRowHtml %}
            <div class='trackChangesType'>Change address</div>
            <strong class='govuk-tag govuk-tag--blue'>Received</strong>
          {% endset %}
          {% set thirdRowHtml %}
            <div class='trackChangesType'>Change to Direct Pay or Collect and Pay</div>
            <strong class='govuk-tag govuk-tag--yellow'>In Progress</strong>
          {% endset %}
          {% set html %}
            {{ govukTable({
            rows: [
              [
                {
                  html: firstRowHtml 
                }
              ],
              [
                {
                  html: secondRowHtml
                }
              ],
              [
                {
                  html: thirdRowHtml
                }
              ]
            ]
            }) }}
          {% endset %}
          {{
          cmgSummaryTable({
            title: 'Track changes',
            link: '/pages/track-changes/timeline-v2',
            html: html,
            actions: [
              {
                html: '<a href="/pages/track-changes/timeline-v2" class="govuk-link">View all</a>'
              }
            ]
          })
        }}
        </div>
      {% endif %}
    </div>
    {% if data['view'] !== "empty" %}
    {% endif %}
  </div>

{% endblock %}