{% extends "layouts/layout.njk" %}
{% from "govuk/components/pagination/macro.njk" import govukPagination %}


{% block content %}
{{ govukBackLink({
      "text": "Back",
      "href": "javascript: window.history.go(-1)"
    }) 
}}

	<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Latest features</h1>

      <p class="govuk-body">As part of our ongoing improvements to the online service, we’ve added features to help you manage your child maintenance.</p>

      <h2 class="govuk-heading-l">March 2026</h2>
      <ul class="govuk-list govuk-list--bullet">
        <li><a href="/pages/report-change/children-tree" class="govuk-link">Report a change</a> to your child's care arrangements without having to know which type of change to select </li>
        <li><a href="/pages/payments/which-payments/vpfsummary" class="govuk-link">View what makes up your payments</a> with a breakdown of charges</li>
      </ul>

      <h2 class="govuk-heading-l">February 2026</h2>
      <ul class="govuk-list govuk-list--bullet">
        <li>We are going paperless - <a href="/pages/paperless" class="govuk-link">tell us how you want us to write to you</a></li>
        <li>You can now <a href="/pages/track-changes/timeline-v3" class="govuk-link">view previously uploaded files</a></li>
      </ul>

         <h2 class="govuk-heading-l">January 2026</h2>
      <ul class="govuk-list govuk-list--bullet">
        <li><a href="#" class="govuk-link">Tell us your preferred call time</a> </li>
      </ul>

      </br>
  {# <h1 class="govuk-heading-xl">Try our latest features</h1>
     <h2 class="govuk-heading-l">Most recent updates</h2>
  <div class="govuk-summary-card">
  <div class="govuk-summary-card__title-wrapper">
    <h2 class="govuk-summary-card__title">
      March 2026
    </h2>
  </div>
  <div class="govuk-summary-card__content">
      <ul class="govuk-list govuk-list--bullet">
        <li><a href="pages/report-change/children-tree" class="govuk-link">Report a change</a> to your child's care arrangements without having to know which type of change to select </li>
        <li><a href="/pages/payments/which-payments/vpfsummary" class="govuk-link">View what makes up your payments</a> with a breakdown of charges</li>
      </ul>
  </div>
  </div>

    <h2 class="govuk-heading-l">Previous updates</h2>
   <div class="govuk-summary-card">
  <div class="govuk-summary-card__title-wrapper">
    <h2 class="govuk-summary-card__title">
      February 2026
    </h2>
  </div>
  <div class="govuk-summary-card__content">
      <ul class="govuk-list govuk-list--bullet">
        <li>We are going paperless - <a href="#" class="govuk-link">tell us how you want us to write to you</a></li>
        <li>You can now <a href="#" class="govuk-link">view previously uploaded files</a></li>
      </ul>
  </div>
  </div>

   <div class="govuk-summary-card">
  <div class="govuk-summary-card__title-wrapper">
    <h2 class="govuk-summary-card__title">
      January 2026
    </h2>
  </div>
  <div class="govuk-summary-card__content">
      <ul class="govuk-list govuk-list--bullet">
        <li><a href="#" class="govuk-link">Tell us your preferred call time</a> </li>
      </ul>
  </div>
  </div> #}





	  </div>
	  </div>

{% endblock %}