{% extends "layouts/layout.njk" %}

{% block pageTitle %}
  Add a voluntary payment
{% endblock %}

{% block content %}

  {{ govukBackLink({
      "text": "Back",
      "href": "javascript: window.history.go(-1)"
    }) 
  }}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">

      <h1 class="govuk-heading-xl">Add a voluntary payment</h1>
      <form action="/pages/voluntary-payment/disagree/add-payment" method="post" novalidate>
      
        {{ govukDateInput({
          id: "payment-date",
          namePrefix: "payment-date",
          fieldset: {
            legend: {
              text: "Payment date",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--m"
            }
          },
          hint: {
            text: "For example, 27 3 2007"
          },
          items: [
            {
              classes: "govuk-input--width-2 govuk-date-input__input",
              name: "payment-date-day",
              id: "toDay",
              name: "toDay",
              label: "Day"
            },
            {
              classes: "govuk-input--width-2 govuk-date-input__input",
              name: "payment-date-month",
              id: "toMonth",
              name: "toMonth",
              label: "Month"
            },
            {
              classes: "govuk-input--width-4 govuk-date-input__input",
              name: "payment-date-year",
              id: "toYear",
              name: "toYear",
              label: "Year"
            }
          ]
        }) }}

        {{ govukInput({
          id: "payment-amount",
          name: "payment-amount",
          label: {
            text: "Payment amount",
            classes: "govuk-label--m",
            isPageHeading: true
          },
          prefix: {
            text: "£"
          },
          classes: "govuk-input--width-5",
          spellcheck: false
        }) }}

        <div class="govuk-button-group">
          {{ govukButton({
            text: "Add payment"
          }) }}
          {% if data['voluntary-payment'] | length <= 0 %}
           <p class="govuk-body"><a href="/pages/voluntary-payment/disagree/no-payments" class="govuk-link">Cancel</a></p>
          {% else %}
           <p class="govuk-body"><a href="/pages/voluntary-payment/disagree/payments-reported-by-other-parent" class="govuk-link">Cancel</a></p>
          {% endif %}
        </div>
      </form>
    </div>
  </div>
{% endblock %}