{% extends "layouts/layout.njk" %}

{% block pageTitle %}
  Voluntary payment details reported by the other parent
{% endblock %}

{% block content %}

  {{ govukBackLink({
      "text": "Back",
      "href": "javascript: window.history.go(-1)"
    }) 
  }}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
      <form action="/pages/voluntary-payment/disagree/reported-by-other-parent" method="post" novalidate>
        <h1 class="govuk-heading-xl">Voluntary payment details reported by the other parent</h1>
        {% set rowsToDisplay = [
          [
            {
              text: "Child 1"
            },
            {
              text: "20 October 2021"
            },
            {
              text: "£20.00"
            }
          ]
        ]
       %}
      {{ govukTable({
      firstCellIsHeader: true,
      head: [
        {
          text: "Case"
        },
        {
          text: "Payment Date"
        },
        {
          text: "Payment Amount"
        }
      ],
      rows: rowsToDisplay
      }) }}
        {{ govukRadios({
            classes: "govuk-radios",
            idPrefix: "f-disagreeYesNo",
            name: "disagreeYesNo",
            fieldset: {
              legend: {
                text: "Do you agree with the payment details and that all the payments were made in place of scheduled child maintenance?",
                classes: "govuk-fieldset__legend--m"
              }
            },
            items: [
              {
                value: "Yes",
                text: t.common.yes | safe,
                checked: checked("disagreeYesNo", "Yes")
              },
              {
                value: "No",
                text: t.common.no | safe,
                checked: checked("disagreeYesNo", "No")
              }
            ]
        }) }}
        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>

{% endblock %}