{% extends "layouts/main.njk" %}

{% block content %}
{{ govukBackLink({
      "text": "Back",
      "href": "javascript: window.history.go(-1)"
    }) 
}}

	<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">
        Government financial support
      </h1>
    
      <h2 class="govuk-heading-l">
        Do you receive any other government financial support for {{data['childrentree-whichChild']}}?
      </h2>


       <p class="govuk-body">
       For example, Disability Living Allowance (DLA) for children or an extra amount of Universal Credit
      </p>

    

      <form class="form" method="POST" action="ct-CheckAnswersFirst">
      
             {% set OtherArrangementMeals %}
            {{ govukCharacterCount({
        name: "ct-financial-amount",
        id: "ct-financial-amount",
        maxlength: 200,
        label: {
            text: "",
            classes: "govuk-label--l",
            isPageHeading: false
        },
        hint: {
            text: "Tell us what each of you receive"
        }
        }) }}
      {% endset -%}

      {{ govukRadios({
        name: "ct-financial",
        id: "ct-financial",
        items: [
          {
            value: "No",
            text: "No"

          },
          {
            value: "Yes",
            text: "Yes",
            conditional: {
              html: OtherArrangementMeals
            }
          }
        ]
      }) }}

      <h2 class="govuk-heading-l">
        Do you need to explain in more detail?
      </h2>

        <p class="govuk-body">
       For example, because you have agreed the parent with the lower income can receive the financial support
      </p>

       {% set OtherArrangement %}
            {{ govukCharacterCount({
        name: "ct-financial-ft",
        id: "ct-financial-ft",
        maxlength: 200,
        label: {
            text: "",
            classes: "govuk-label--l",
            isPageHeading: false
        },
        hint: {
            text: "Explain in more detail"
        }
        }) }}
      {% endset -%}

      {{ govukRadios({
        name: "howOften",
        items: [
          {
            value: "No",
            text: "No"
          },
          {
            value: "Yes",
            text: "Yes",
            conditional: {
              html: OtherArrangement
            }
          }
        ]
      }) }}

    

      <button type="submit" class="govuk-button">
        Continue
      </button>

	 </form>

	  </div>
	  </div>

{% endblock %}