{% extends "layouts/main.njk" %}

{% block content %}
{{ govukBackLink({
      "text": "Back",
      "href": "javascript: window.history.go(-1)"
    }) 
}}

{% if (data['careDate-month'] === "1" or data['careDate-month'] === "01" ) %} 
{% set month = "Jan" %}
{% elif (data['careDate-month'] === "2" or data['careDate-month'] === "02"  ) %} 
{% set month = "Feb" %}
{% elif (data['careDate-month'] === "3" or data['careDate-month'] === "03" ) %} 
{% set month = "Mar" %}
{% elif (data['careDate-month'] === "4" or data['careDate-month'] === "04") %} 
{% set month = "Apr" %}
{% elif (data['careDate-month'] === "5" or data['careDate-month'] === "05") %} 
{% set month = "May" %}
{% elif (data['careDate-month'] === "6" or data['careDate-month'] === "06") %} 
{% set month = "Jun" %}
{% elif (data['careDate-month'] === "7" or data['careDate-month'] === "07" ) %} 
{% set month = "Jul" %}
{% elif (data['careDate-month'] === "8" or data['careDate-month'] === "08" ) %} 
{% set month = "Aug" %}
{% elif (data['careDate-month'] === "9" or data['careDate-month'] === "09" ) %} 
{% set month = "Sep" %}
{% elif (data['careDate-month'] === "10" or data['careDate-month'] === "010" ) %} 
{% set month = "Oct" %}
{% elif (data['careDate-month'] === "11" or data['careDate-month'] === "011" ) %} 
{% set month = "Nov" %}
{% elif (data['careDate-month'] === "12" or data['careDate-month'] === "012") %} 
{% set month = "Dec" %}
{% else %}
{% set month = "Month" %}
{% endif %}

	<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">
        Medical care 
      </h1>

      <h2 class="govuk-caption-l">
        How often do you expect to
      <h2 class="govuk-heading-l">
        arrange and take {{data['childrentree-whichChild']}} to any medical appointments?
      </h2>


      <form class="form" method="POST" action="needFun">
 
  
      {{ govukRadios({
        name: "ct-medical",
        items: [
           {
            value: "More than half the time",
            text: "More than half the time"

          },
          {
            value: "Half the time",
            text: "Half the time"

          },
          {
            value: "Less than half the time",
            text: "Less than half the time"

          }

        ]
      }) }}


      <h2 class="govuk-heading-l">
        Do you need to explain in more detail?
      </h2>

        <p class="govuk-body">
       For example, because one parent lives closer to {{data['childrentree-whichChild']}}'s GP surgery
      </p>

       {% set OtherArrangement %}
            {{ govukCharacterCount({
        name: "ct-medical-ft",
        id: "ct-medical-ft",
        maxlength: 200,
        label: {
            text: "",
            classes: "govuk-label--l",
            isPageHeading: false
        },
        hint: {
            text: "Explain in more detail"
        }
        }) }}
      {% endset -%}

      {{ govukRadios({
        name: "howOften",
        items: [
          {
            value: "No",
            text: "No"
          },
          {
            value: "Yes",
            text: "Yes",
            conditional: {
              html: OtherArrangement
            }
          }
        ]
      }) }}

      <button type="submit" class="govuk-button">
        Continue
      </button>

	 </form>

	  </div>
	  </div>

{% endblock %}