{% extends "layouts/layout.njk" %}
{% block pageTitle %}
  Which case is the missed payment about?
{% endblock %}

{% block content %}

  {{ govukBackLink({
      "text": "Back",
      "href": "javascript: window.history.go(-1)"
    }) 
  }}<br></br>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
      <h1 class="govuk-heading-xl">Which case is the missed payment about?</h1>

      <form class="form" action="/pages/send-a-message/which-case" method="post">
        {% from "govuk/components/radios/macro.njk" import govukRadios %}
          {{ govukRadios({
            idPrefix: "whichCase",
            name: "whichCase",
            fieldset: {
              legend: {
                classes: "govuk-fieldset__legend--l"
              }
            },
            hint: {
              text: "If you have missed payments on more than one case, you need to report each one separately."
            },
            items: [
              {
                value: "C Smith",
                text: "C Smith"
              },
              {
                value: "M Welch",
                text: "M Welch"
              }
            ]
          }) }}


          <button type="submit" class="govuk-button" name="continue">
          {{ t['common']['continue'] }}
        </button>
      </form>
    </div>
  </div>

{% endblock %}
