{% extends "layouts/layout.njk" %}

{% if data['partPayment'] == 'No' %}
{% set partpayment = 0 %}
{% endif %}

{% if data['partPayment'] != 'No' and data['howMuch'] != '' %}
{% set partpayment = data['howMuch']%}
{% endif %}

{% if data['partPayment'] == 'Yes, full payment but at least 3 working days late' %}
{% set tableDate = data['whenLatePayment-day'] + ' ' +  data['whenLatePayment-month'] + ' ' + data['whenLatePayment-year'] %}
{% set partpayment = 200 %}
{% else %}
{% set tableDate = data['dueDate'] %}
{% endif %}

{% block content %}
{{ govukBackLink({
      "text": "Back",
      "href": "javascript: window.history.go(-1)"
    }) 
  }}

	<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Payments received</h1>
      <h1 class="govuk-heading-m">Case: Robin</p>
      <p class="govuk-body">Add all the payments you have received after {{data['dueDate']}}</p>

      <form class="form" action="p13-bankdetails" method="POST">

        <table class="govuk-table">
          <caption class="govuk-table__caption govuk-table__caption--m">Dates and amounts</caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Payment date</th>
              <th scope="col" class="govuk-table__header">Amount received</th>
              <th scope="col" class="govuk-table__header">Change</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell govuk-!-text-align-left govuk-table__cell--numeric govuk-!-width-one-half">{{data['otherPaymentDate-day'] + ' ' +  data['otherPaymentDate-month'] + ' ' + data['otherPaymentDate-year']}}</td>
            <td class="govuk-table__cell govuk-!-text-align-left govuk-table__cell--numeric">£{{data['otherPaymentAmount']}}</td>
            <td class="govuk-table__cell govuk-!-text-align-left govuk-link"> <a class="govuk-link" href="">Change</a> </td>
          </tr>
            <tr class="govuk-table__row">
              <td scope="row" class="govuk-table__cell">{{tableDate}}</th>
              <td class="govuk-table__cell">£{{partpayment}}</td>
              <td class="govuk-table__cell"><a class="govuk-link" href="">Change</a></td>
            </tr>
            <tr class="govuk-table__row">
              <td scope="row" class="govuk-table__cell">27 March 2024</th>
              <td class="govuk-table__cell">£20.00</td>
              <td class="govuk-table__cell"><a class="govuk-link" href="">Change</a></td>
            </tr>
            <tr class="govuk-table__row">
              <td scope="row" class="govuk-table__cell">3 Feb 2024</th>
              <td class="govuk-table__cell">£70.15</td>
              <td class="govuk-table__cell"><a class="govuk-link" href="">Change</a></td>
            </tr>
          </tbody>
        </table>

      <p class="govuk-body"><a href="p11-otherpaymentdetails" class="govuk-link">Add another payment</a></p>

      <button type="submit" class="govuk-button">
        Continue
      </button>

	 </form>

	  </div>
	  </div>

{% endblock %}