{% extends "layouts/layout.njk" %}

{% block content %}
{{ govukBackLink({
      "text": "Back",
      "href": "javascript: window.history.go(-1)"
    }) 
  }}

	<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">What date was the payment due?</h1>

      <form class="form" action="p6-sharedbank" method="POST">
      <br>
      {% if data['monthDate'] == 'August' %}
        {{ govukRadios({
          idPrefix: "dueDate",
          name: "dueDate",
          fieldset: {
            legend: {
              text: "",
              isPageHeading: no,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "24 August 2024",
              text: "24 August 2024"
            },
            {
              value: "17 August 2024",
              text: "17 August 2024"
            },
            {
              value: "10 August 2024",
              text: "10 August 2024"
            },
            {
              value: "3 August 2024",
              text: "3 August 2024"
            }
          ]
        }) }}
        {% endif %}

        {% if data['monthDate'] == 'July' %}
        {{ govukRadios({
          idPrefix: "dueDate",
          name: "dueDate",
          fieldset: {
            legend: {
              text: "",
              isPageHeading: no,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "24 July 2024",
              text: "24 July 2024"
            },
            {
              value: "17 July 2024",
              text: "17 July 2024"
            },
            {
              value: "10 July 2024",
              text: "10 July 2024"
            },
            {
              value: "3 July 2024",
              text: "3 July 2024"
            }
          ]
        }) }}
        {% endif %}

        {% if data['monthDate'] == 'June' %}
        {{ govukRadios({
          idPrefix: "dueDate",
          name: "dueDate",
          fieldset: {
            legend: {
              text: "",
              isPageHeading: no,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "24 June 2024",
              text: "24 June 2024"
            },
            {
              value: "17 June 2024",
              text: "17 June 2024"
            },
            {
              value: "10 June 2024",
              text: "10 June 2024"
            },
            {
              value: "3 June 2024",
              text: "3 June 2024"
            }
          ]
        }) }}
        {% endif %}

        {% if data['monthDate'] == 'May' %}
        {{ govukRadios({
          idPrefix: "dueDate",
          name: "dueDate",
          fieldset: {
            legend: {
              text: "",
              isPageHeading: no,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "24 May 2024",
              text: "24 May 2024"
            },
            {
              value: "17 May 2024",
              text: "17 May 2024"
            },
            {
              value: "10 May 2024",
              text: "10 May 2024"
            },
            {
              value: "3 May 2024",
              text: "3 May 2024"
            }
          ]
        }) }}
        {% endif %}

        {% if data['monthDate'] == 'April' %}
        {{ govukRadios({
          idPrefix: "dueDate",
          name: "dueDate",
          fieldset: {
            legend: {
              text: "",
              isPageHeading: no,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "24 April 2024",
              text: "24 April 2024"
            },
            {
              value: "17 April 2024",
              text: "17 April 2024"
            },
            {
              value: "10 April 2024",
              text: "10 April 2024"
            },
            {
              value: "3 April 2024",
              text: "3 April 2024"
            }
          ]
        }) }}
        {% endif %}

        <p class="govuk-body">These dates are the most recent scheduled payment dates in your current  <a href="#" class="govuk-link">payment plan (opens in a new tab)</a>.</p>

      <br>
      <button type="submit" class="govuk-button">
        Continue
      </button>
	 </form>

	  </div>
	  </div>

{% endblock %}