{% extends "layouts/layout.njk" %}

{% block pageTitle %}
  Report a voluntary payment you made
{% endblock %}

{% block content %}

  {{ govukBackLink({
      "text": "Back",
      "href": "javascript: window.history.go(-1)"
    }) 
  }}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Report a voluntary payment you made</h1>

      <p class="govuk-body">You need to report any payments on top of or instead of your scheduled child maintenance payment.</p>

      <p class="govuk-body">If you use Collect and Pay you cannot avoid collection fees if you pay the other parent directly.</p>

      <p class="govuk-body">It’s important you keep evidence of any voluntary payments as it will help if there are any disputes in the future.</p>

      <form action="/pages/report-change/voluntary-payments/voluntary-payments-start" method="post" novalidate>
        {{ govukButton({
          text: "Start now",
          isStartButton: true
        }) }}
      </form>
    </div>
  </div>

{% endblock %}