{% extends "layouts/layout.njk" %}

{% block content %}
{{ govukBackLink({
      "text": "Back",
      "href": "javascript: window.history.go(-1)"
    }) 
}}

	<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Does Robin spend any nights in local authority care?
      </h1>
     <p class="govuk-body">
        This is where your child or children are the subject of a care order and they stay overnight elsewhere, for example with a foster parent or in a care home.
      </p>

      <form class="form" method="POST" action="corroboration-P5">

        {% set LocalHTML %}
       {{ govukInput({
        id: "howManyLocal",
        name: "howManyLocal",
        type: "number",
        autocomplete: "number",
        spellcheck: false,
        classes: "govuk-!-width-one-third",
        label: {
          text: "How many nights per week?"
        }
      }) }}
      {% endset -%}

      {{ govukRadios({
        name: "localCare",
        fieldset: {
          legend: {
            text: "",
            isPageHeading: false,
            classes: "govuk-fieldset__legend--l"
          }
        },
        items: [
          {
            value: "Yes",
            text: "Yes",
            conditional: {
              html: LocalHTML
            }
          },
          {
            value: "No",
            text: "No"
          }
        ]
      }) }}

      <button type="submit" class="govuk-button">
        Continue
      </button>

	 </form>

	  </div>
	  </div>

{% endblock %}