{% extends "layouts/layout.njk" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Primary Care</h1>
      <p class="govuk-body">We are already dealing with a report to change who has the financial or main day-to-day care responsibility for (child’s name).</p>
      <p class="govuk-body">If you need to provide us with any further information, go to ‘Messages’ and select ‘Send a message’.</p>
      <a type="submit" class="govuk-button" href= "">
        Return to home
      </a>
    </div>
  </div>

{% endblock %}