{% extends "layouts/layout.njk" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="pc-pp-date-change-happen-child-3" method="post">

        {{ govukDateInput({
          id: "dateInput",
          namePrefix: "dateInput",
          fieldset: {
            legend: {
              text: "What date did the financial or main day-to-day care responsibility stop for Child 2?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          }
        }) }}

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}