{% extends "layouts/layout.njk" %}

{% block pageTitle %}
  Change your Postal address
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {{ govukBackLink({
        text: "Back",
        href: "/pages/check-your-details"
      }) }}

      <h1 class="govuk-heading-xl">
        Change your postal address
      </h1>
      <form class="form" action="/pages/check-your-details" method="post">

        {{ govukTextarea({
            name: "postal-address",
            id: "postal-address",
            label: {
                text: "Can you provide your postal address?",
                classes: "govuk-label",
                isPageHeading: true
            }
            }) }}

        {{ govukButton({
                text: "Continue",
                type: "submit"
            }) }}
      </form>
    </div>
  </div>

{% endblock %}