{% extends "layouts/layout.njk" %}

{% block pageTitle %}  
  Change of income
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <br>

      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">
          We have received your request
        </h1>
      </div>

      <h2 class="govuk-heading-l">What happens next</h2>
      <p class="govuk-body">You need to upload your evidence within 14 days.</p>
      <p class="govuk-body">Your report will be cancelled if we do not receive your evidence within 14 days.</p>
      <h3 class="govuk-heading-m">Evidence required</h3>
      <p class="govuk-body">You need to upload evidence that confirms your pension income.</p>
      <p class="govuk-body">This can be:</p>
      <ul class="govuk-list govuk-list--bullet">
            <li>a copy of your P60</li>
            <li>a letter from the Department for Work and Pensions</li>
            <li>your pension statement</li>
      </ul>
      {{ govukButton({
        text: "Upload evidence",
        href: "/pages/messages/upload-documents"
      }) }}

      <h3 class="govuk-heading-m">How long will it take to process your report</h3>
      <p class="govuk-body">We will process your change of income within 32 days of receiving your evidence. It may take longer if we are still working on previous changes.</p>
      <p class="govuk-body">When the change is complete, we will send you a new payment plan explaining the new payment amount and payment date. You can <a class="govuk-link" href="/pages/my-details-and-circumstances"π>check the progress of this change</a> at any time.</p>
      <p class="govuk-body">If we need to discuss your report further, we will contact you.</p>

      <p class="govuk-body">Make sure your <a class="govuk-link" href="/pages/my-details-and-circumstances">contact details and preferences</a> are up to date in case we need to contact you.</p>
      
      
  </div>

{% endblock %}