{% extends "layouts/layout.njk" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% from "govuk/components/file-upload/macro.njk" import govukFileUpload %}

{% block pageTitle %}
  My messages and contact history
{% endblock %}


{% block content %}

  {{ govukBackLink({
    text: "Back",
    href: "/pages/messages/upload-documents"
  }) }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Upload new evidence</h1>

      <p class="govuk-body"><b>Subject:</b> Change to shared care for Jack</p>
      <p class="govuk-body">You can upload evidence, for example:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>a current court order</li>
        <li>a formal agreement, for example drawn up by a solicitor</li>
        <li>another official document, for example Children and Family Court Advisory and Support Service (CAFCASS) or Social Services reports.</li>
      </ul>

      {# {{ govukWarningText({
        text: "Uploading inappropriate or offensive files including photographs of any children will result in us taking action against you. ",
        iconFallbackText: "Warning"
      }) }} #}
      <p class="govuk-body">You can use:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>a clear photograph</li>
        <li>an existing word document or spreadsheet saved as a PDF file</li>
        <li>a scanned document</li>
      </ul>
      <h1 class="govuk-heading-m">What you need to check</h1>
      <p class="govuk-body">Make sure that:</p>
      <ul class="govuk-list govuk-list--bullet">
          <li>files are 20MB or less</li>
          <li>file names only include letters a-z, numbers, hyphens, underscores, full stops and spaces</li>
          <li>file types are PDF, JPEG, JPG, GIF, PNG, TIFF or TIF</li>
          <li>any PDFs are not password protected</li>
        </ul>
        <div class="govuk-inset-text">
         You can upload up to 7 files at a time.
        </div>

      {{ govukFileUpload({
          id: "file-upload-1",
          name: "fileUpload1",
          label: {
            text: "Upload a file"
          },
          javascript: true
        }) }}

        <div class="govuk-form-group">
  <label class="govuk-label" for="file-upload-1">
    Upload a file
  </label>
  <div
    class="govuk-drop-zone"
    data-module="govuk-file-upload">
    <input class="govuk-file-upload" id="file-upload-1" name="fileUpload1" type="file">
  </div>
</div>

    <br>

        <h2 class="govuk-heading-m">Declaration</h2>
        <p class='govuk-body'>I confirm that these files relate to my case and do not contain offensive material or photographs of any children.</p>

         <div class="demo-container" id="loadingBar" style="display: none">
          <div class="progress-bar">
            <div class="progress-bar-value"></div>
          </div>
          <p class="progress-body govuk-!-font-weight-bold">Uploading...</p>
          <p class="progress-body">We are uploading your file. Stay on this page until your file has finished uploading</p>
        </div>
{# 
        {{ govukTextarea({
          name: "more-detail-on-file",
          id: "more-detail-on-file",
          label: {
            text: "Describe the evidence you are uploading"
          },
          hint: {
            text: "Don't include personal or financial information, for example, your National Insurance number."
          }
        }) }} #}

        <button class="govuk-button" id="uploadButton" onclick="toggleLoading()">Upload file</button>


    </div>
  </div>

{% endblock %}