{% extends "layouts/main.njk" %}

{% block content %}
{{ govukBackLink({
      "text": "Back",
      "href": "javascript: window.history.go(-1)"
    }) 
}}

	<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">
        Childcare
      </h1>
    
      <h2 class="govuk-heading-l">
        Who arranges Bill's childcare?
      </h2>

      <p class="govuk-body">Such as a childminder or after school clubs.</p>
    

      <form class="form" method="POST" action="contact">
      
             {% set OtherArrangementMeals %}
            {{ govukCharacterCount({
        name: "costMeals",
        id: "costMeals",
        maxlength: 200,
        label: {
            text: "",
            classes: "govuk-label--l",
            isPageHeading: false
        },
        hint: {
            text: "Tell us more about your other arrangement if you need to. It may take longer to get a decision on your change if you give us extra details"
        }
        }) }}
      {% endset -%}

      {% set OtherArrangement %}
            {{ govukCharacterCount({
        name: "costClothes",
        id: "costClothes",
        maxlength: 200,
        label: {
            text: "",
            classes: "govuk-label--l",
            isPageHeading: false
        },
        hint: {
            text: "Tell us more about your other arrangement if you need to. It may take longer to get a decision on your change if you give us extra details"
        }
        }) }}
      {% endset -%}

      {{ govukRadios({
        name: "clothes",
        items: [
          {
            value: "Me",
            text: "I do"
          },
          {
            value: "Other",
            text: "The other parent does"

          },
          {
            value: "equally",
            text: "We each spend the same amount"

          },
           {
            divider: "or"
            },
          {
            value: "Other",
            text: "We have another arrangement",
            conditional: {
              html: OtherArrangement
            }
          }
        ]
      }) }}

      <h2 class="govuk-heading-l">
        Who pays for Bill's childcare, if needed?
      </h2>
     

      {{ govukRadios({
        name: "meals",
        items: [
          {
            value: "Me",
            text: "I do"
          },
          {
            value: "OtherParent",
            text: "The other parent does"

          },
          {
            value: "equally",
            text: "We each spend the same amount"
          },
          {
            value: "None",
            text: "Bill's childcare is not paid for"
          },
           {
            divider: "or"
            },
          {
            value: "arrangement",
            text: "We have another arrangement",
            conditional: {
              html: OtherArrangementMeals
            }
          }
        ]
      }) }}

    

      <button type="submit" class="govuk-button">
        Continue
      </button>

	 </form>

	  </div>
	  </div>

{% endblock %}