{% extends "layouts/layout.njk" %}

{% block content %}
{{ govukBackLink({
      "text": "Back",
      "href": "javascript: window.history.go(-1)"
    }) 
}}

	<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Check your answers</h1>
      <h2 class="govuk-heading-m">Change to Bill's day to day care</h1>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Child's name
            </dt>
            <dd class="govuk-summary-list__value">
              Bill, born 5 April 2010
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> name</span></a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Date of change
            </dt>
            <dd class="govuk-summary-list__value">
              03 01 2026
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> customer reference</span></a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Number of regular overnight stays
            </dt>
            <dd class="govuk-summary-list__value">
              175
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> address</span></a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Number of additional nights
            </dt>
            <dd class="govuk-summary-list__value">
              None
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> contact details</span></a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Local authority nights
            </dt>
            <dd class="govuk-summary-list__value">
              None
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> contact details</span></a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Total number of overnight stays a year with you
            </dt>
            <dd class="govuk-summary-list__value">
              175
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> contact details</span></a>
            </dd>
          </div>
                     <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Evidence for overnight shared care
            </dt>
            <dd class="govuk-summary-list__value">
              Court order
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> date of birth</span></a>
            </dd>
          </div>
        </dl>

        <h2 class="govuk-heading-m">Who is responsible for areas of Bill's child care?</h1>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Spare time
            </dt>
            <dd class="govuk-summary-list__value">
              ANSWER
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> name</span></a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Meals
            </dt>
            <dd class="govuk-summary-list__value">
              ANSWER
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> customer reference</span></a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Clothes
            </dt>
            <dd class="govuk-summary-list__value">
              ANSWER
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> address</span></a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Arranges childcare
            </dt>
            <dd class="govuk-summary-list__value">
              ANSWER
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> contact details</span></a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Pays for childcare
            </dt>
            <dd class="govuk-summary-list__value">
              ANSWER
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> contact details</span></a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              School contact
            </dt>
            <dd class="govuk-summary-list__value">
              ANSWER
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> contact details</span></a>
            </dd>
          </div>
                     <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Arranges childminder
            </dt>
            <dd class="govuk-summary-list__value">
              ANSWER
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> date of birth</span></a>
            </dd>
          </div>

                     <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Takes to dentist
            </dt>
            <dd class="govuk-summary-list__value">
              ANSWER
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> date of birth</span></a>
            </dd>
          </div>
                     <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Takes to doctor
            </dt>
            <dd class="govuk-summary-list__value">
              ANSWER
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> date of birth</span></a>
            </dd>
          </div>
                     <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Involved in activities for fun
            </dt>
            <dd class="govuk-summary-list__value">
              ANSWER
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> date of birth</span></a>
            </dd>
          </div>
                     <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Pays for activities for fun
            </dt>
            <dd class="govuk-summary-list__value">
              ANSWER
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> date of birth</span></a>
            </dd>
          </div>
                     <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Government financial benefits
            </dt>
            <dd class="govuk-summary-list__value">
              ANSWER
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> date of birth</span></a>
            </dd>
          </div>
        </dl>
        
        {{ govukRadios({
          name: "otherChildren",
          fieldset: {
            legend: {
              text: "Do you want to report exactly the same change for any of your other children?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "Yes",
              text: "Yes"
            },
            {
              value: "No",
              text: "No"
            }
          ]
        }) }}

      <form class="form" action="ct-otherChildren" method="POST">
      <button type="submit" class="govuk-button">
        Continue
      </button>
	 </form>

	  </div>
	  </div>

{% endblock %}