{% extends "layouts/layout.njk" %}

{% block content %}
{{ govukBackLink({
      "text": "Back",
      "href": "javascript: window.history.go(-1)"
    }) 
}}

{% if (data['careDate-month'] === "1" or data['careDate-month'] === "01" ) %} 
{% set month = "Jan" %}
{% elif (data['careDate-month'] === "2" or data['careDate-month'] === "02"  ) %} 
{% set month = "Feb" %}
{% elif (data['careDate-month'] === "3" or data['careDate-month'] === "03" ) %} 
{% set month = "Mar" %}
{% elif (data['careDate-month'] === "4" or data['careDate-month'] === "04") %} 
{% set month = "Apr" %}
{% elif (data['careDate-month'] === "5" or data['careDate-month'] === "05") %} 
{% set month = "May" %}
{% elif (data['careDate-month'] === "6" or data['careDate-month'] === "06") %} 
{% set month = "Jun" %}
{% elif (data['careDate-month'] === "7" or data['careDate-month'] === "07" ) %} 
{% set month = "Jul" %}
{% elif (data['careDate-month'] === "8" or data['careDate-month'] === "08" ) %} 
{% set month = "Aug" %}
{% elif (data['careDate-month'] === "9" or data['careDate-month'] === "09" ) %} 
{% set month = "Sep" %}
{% elif (data['careDate-month'] === "10" or data['careDate-month'] === "010" ) %} 
{% set month = "Oct" %}
{% elif (data['careDate-month'] === "11" or data['careDate-month'] === "011" ) %} 
{% set month = "Nov" %}
{% elif (data['careDate-month'] === "12" or data['careDate-month'] === "012") %} 
{% set month = "Dec" %}
{% else %}
{% set month = "Month" %}
{% endif %}

	<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Check your answers</h1>
      <h2 class="govuk-heading-m">Change to {{data['childrentree-whichChild']}}'s main day-to-day care</h1>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Child's name
            </dt>
            <dd class="govuk-summary-list__value">
              {{data['childrentree-whichChild']}}, born 5 Apr 2010
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> name</span></a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Main carer
            </dt>
            <dd class="govuk-summary-list__value">
              Me
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> customer reference</span></a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Date main carer changed
            </dt>
            <dd class="govuk-summary-list__value">
              {{data['careDate-day'] + ' ' + month + ' ' + data['careDate-year']}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> address</span></a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Reason main carer changed
            </dt>
            <dd class="govuk-summary-list__value">
              {{data['whyCare']}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> contact details</span></a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              If you expect to be main carer for 6 weeks or more
            </dt>
            <dd class="govuk-summary-list__value">
              {{data['childrentree-userPermanent']}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> contact details</span></a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Date you expect main carer to change back
            </dt>
            <dd class="govuk-summary-list__value">
              {{data['childrentree-userPermanentEnd-day']}} {{data['childrentree-userPermanentEnd-month']}} {{data['childrentree-userPermanentEnd-year']}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> contact details</span></a>
            </dd>
          </div>
        </dl>

        <h2 class="govuk-heading-m">Childcare, medical care and hobbies</h1>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Needed childcare
            </dt>
            <dd class="govuk-summary-list__value">
              {{data['needChildcare']}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> name</span></a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Had medical appointments
            </dt>
            <dd class="govuk-summary-list__value">
              {{data['needMedical']}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> name</span></a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Does hobbies or clubs
            </dt>
            <dd class="govuk-summary-list__value">
              {{data['needFun']}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> name</span></a>
            </dd>
          </div>
        </dl>

        <h2 class="govuk-heading-m">Since {{data['careDate-day'] + ' ' + month + ' ' + data['careDate-year']}}, how often have you...</h1>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              been the emergency contact
            </dt>
            <dd class="govuk-summary-list__value">
              {{data['ct-contact']}} <br>
              {{data['ct-contact-ft']}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> name</span></a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              been responsible during the day
            </dt>
            <dd class="govuk-summary-list__value">
              {{data['ct-dayTime']}} <br>
              {{data['ct-dayTime-ft']}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> customer reference</span></a>
            </dd>
          </div>

          {% if (data['needChildcare'] === "Yes" ) %} 
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              arranged childcare
            </dt>
            <dd class="govuk-summary-list__value">
              {{data['ct-childcare']}} <br>
              {{data['ct-childcare-ft']}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> address</span></a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              paid for childcare
            </dt>
            <dd class="govuk-summary-list__value">
              {{data['ct-childcare-paid']}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> contact details</span></a>
            </dd>
          </div>
          {% endif %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              provided basic essentials
            </dt>
            <dd class="govuk-summary-list__value">
              {{data['ct-items']}} <br>
              {{data['ct-items-ft']}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> contact details</span></a>
            </dd>
          </div>
          {% if (data['needMedical'] === "Yes" ) %} 
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              arranged medical appointments
            </dt>
            <dd class="govuk-summary-list__value">
              {{data['ct-medical']}} <br>
              {{data['ct-medical-ft']}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> contact details</span></a>
            </dd>
          </div>
              {% endif %}
              {% if (data['needFun'] === "Yes" ) %} 
                     <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              arranged hobbies and clubs
            </dt>
            <dd class="govuk-summary-list__value">
              {{data['ct-fun']}} <br>
              {{data['ct-fun-ft']}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> date of birth</span></a>
            </dd>
          </div>
                 <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              paid for hobbies and clubs
            </dt>
            <dd class="govuk-summary-list__value">
              {{data['ct-fun-paid']}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> date of birth</span></a>
            </dd>
          </div>
          {% endif %}
        </dl>

        <h2 class="govuk-heading-m">Financial support for {{data['childrentree-whichChild']}}</h1>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Receive Child Benefit
            </dt>
            <dd class="govuk-summary-list__value">
              {{data['ct-benefit']}} <br>
              {{data['ct-benefit-ft']}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> name</span></a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Other financial government support
            </dt>
            <dd class="govuk-summary-list__value">
              {{data['ct-financial']}} <br>
              {{data['ct-financial-amount']}} <br>
              {{data['ct-financial-ft']}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> customer reference</span></a>
            </dd>
          </div>
        </dl>
        
        {# {{ govukRadios({
          name: "otherChildren",
          fieldset: {
            legend: {
              text: "Do you want to report exactly the same change for any of your other children?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "Yes",
              text: "Yes"
            },
            {
              value: "No",
              text: "No"
            }
          ]
        }) }} #}

      <form class="form" action="ct-scEvidence" method="POST">
      <button type="submit" class="govuk-button">
        Continue
      </button>
	 </form>

	  </div>
	  </div>

{% endblock %}