{% extends "layouts/layout.njk" %}

{% block content %}

	<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

     {{ govukPanel({
        titleText: "You need to give us any evidence you have",
        html: ""
      }) }}

      <p class="govuk-body">
        We have received your report that you now have {{data['childrentree-whichChild']}}'s main day-to-day care.
      </p>

      <h2 class="govuk-heading-m">What you need to do</h2>

      <p class="govuk-body">
        If you have evidence, upload it by 14 February. 
      </p>
      
      <form class="form" action="ct-confirmation" method="POST">

      <button type="submit" class="govuk-button">
       Upload now
      </button>
	 </form>



      <h2 class="govuk-heading-m">What happens next</h2>

      <p class="govuk-body">
       We will:
      </p>
      <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
        <li>ask the other parent the same questions</li>
        <li>look at the information we have from you both</li>
        <li>tell you the progress we have made on our decision in <a href="#" class="govuk-link">track changes</a> the change may take up to 30 seconds to appear</li>
        <li>send you a letter in <a href="#" class="govuk-link">notifications</a> to let you know about any changes and the effect on your payments</li>
      </ul>

      <p class="govuk-body">
       You should continue making your regular payments until we have told you our decision.
      </p>
       <p class="govuk-body">
       If you need help, <a href="#" class="govuk-link">contact us</a>.
      </p>


	  </div>
	  </div>

{% endblock %}