{% extends "layouts/main.njk" %}

{% block content %}
{{ govukBackLink({
      "text": "Back",
      "href": "javascript: window.history.go(-1)"
    }) 
}}

	<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">
        Day time responsibility 
      </h1>

      <h2 class="govuk-caption-l">
        Since {{data['careDate-day'] + ' ' + data['careDate-month'] + ' ' + data['careDate-year']}}, how often have you
      <h2 class="govuk-heading-l">
        been responsible for {{data['childrentree-whichChild']}} during the day outside of nursery, school or college hours?
      </h2>


    

      <form class="form" method="POST" action="childcare">
      
             {# {% set OtherArrangementMeals %}
            {{ govukCharacterCount({
        name: "costMeals",
        id: "costMeals",
        maxlength: 200,
        label: {
            text: "",
            classes: "govuk-label--l",
            isPageHeading: false
        },
        hint: {
            text: "For example, for school or a childminder"
        }
        }) }}
      {% endset -%} #}
  
      {{ govukRadios({
        name: "ct-dayTime",
        items: [
           {
            value: "More than half the time",
            text: "More than half the time"

          },
          {
            value: "Half the time",
            text: "Half the time"

          },
          {
            value: "Less than half the time",
            text: "Less than half the time"

          }
        ]
      }) }}


      <h2 class="govuk-heading-l">
        Do you need to explain in more detail?
      </h2>

        <p class="govuk-body">
       For example, because one parent works shifts so is unable to have them at home
      </p>

       {% set OtherArrangement %}
            {{ govukCharacterCount({
        name: "ct-dayTime-ft",
        id: "ct-dayTime-ft",
        maxlength: 200,
        label: {
            text: "",
            classes: "govuk-label--l",
            isPageHeading: false
        },
        hint: {
            text: "Explain in more detail"
        }
        }) }}
      {% endset -%}

      {{ govukRadios({
        name: "howOften",
        items: [
          {
            value: "No",
            text: "No"
          },
          {
            value: "Yes",
            text: "Yes",
            conditional: {
              html: OtherArrangement
            }
          }
        ]
      }) }}

      <button type="submit" class="govuk-button">
        Continue
      </button>

	 </form>

	  </div>
	  </div>

{% endblock %}