{% extends "layouts/main.njk" %}

{% block content %}
{{ govukBackLink({
      "text": "Back",
      "href": "javascript: window.history.go(-1)"
    }) 
}}

	<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">
        Essential items
      </h1>

      <h2 class="govuk-caption-l">
        Since {{data['careDate-day'] + ' ' + data['careDate-month'] + ' ' + data['careDate-year']}}, how often have you
      <h2 class="govuk-heading-l">
        provided {{data['childrentree-whichChild']}}'s basic essentials
      </h2>


      <form class="form" method="POST" action="medical">
 

      <p class="govuk-body">
       For example, meals, toiletries, school uniform or everyday clothes
      </p>
  
      {{ govukRadios({
        name: "ct-items",
        items: [
          {
            value: "Always",
            text: "Always"
          },
          {
            value: "Most",
            text: "More than half of the time"

          },
          {
            value: "Half",
            text: "Half of the time"

          },
          {
            value: "Less",
            text: "Less than half of the time"

          },
  
          {
            value: "Never",
            text: "Never"
          }

        ]
      }) }}

      <h2 class="govuk-heading-l">
        Do you need to explain in more detail?
      </h2>

        <p class="govuk-body">
       For example, because one parent has a higher income so pays for more items
      </p>

       {% set OtherArrangement %}
            {{ govukCharacterCount({
        name: "ct-items-ft",
        id: "ct-items-ft",
        maxlength: 200,
        label: {
            text: "",
            classes: "govuk-label--l",
            isPageHeading: false
        },
        hint: {
            text: "Explain in more detail"
        }
        }) }}
      {% endset -%}

      {{ govukRadios({
        name: "howOften",
        items: [
          {
            value: "No",
            text: "No"
          },
          {
            value: "Yes",
            text: "Yes",
            conditional: {
              html: OtherArrangement
            }
          }
        ]
      }) }}

      <button type="submit" class="govuk-button">
        Continue
      </button>

	 </form>

	  </div>
	  </div>

{% endblock %}