{% extends "layouts/layout.njk" %}

{% block content %}
{{ govukBackLink({
      "text": "Back",
      "href": "javascript: window.history.go(-1)"
    }) 
}}

	<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Check your message before sending</h1>

      <form class="form" action="cc-message-sent-evidence" method="POST">

       <h2 class="govuk-heading-m">Message details</h2>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              You said
            </dt>
            <dd class="govuk-summary-list__value">
              '{{data['connectMessage']}}'
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> name</span></a>
            </dd>
          </div>
        </dl>
        <h2 class="govuk-heading-m">Send your message</h2>
        <p class="govuk-body">Check your message is correct before sending. Once you have sent your message, you cannot send a new message until we have responded.</p>
          <input type="hidden" name="answers-checked" value="true">
          <button type="submit" class="govuk-button" data-module="govuk-button">
            Accept and send
          </button>
        </form>


	  </div>
	  </div>

{% endblock %}