{% extends "layouts/layout.njk" %}

{% block content %}
{{ govukBackLink({
      "text": "Back",
      "href": "javascript: window.history.go(-1)"
    }) 
}}

	<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Closed conversation</h1>

      <p class="govuk-body"><b>Subject:</b> Case update</p>
      
      <div class="govuk-inset-text">
        Conversation has been closed, messages can no longer be sent.
      </div>

      <form class="form" method="POST" action="threadpageawaiting">
        <button type="submit" class="govuk-button">
        Return to messages
      </button>
	 </form>

     <br>


      <table class="govuk-table">
        <caption class="govuk-table__caption govuk-table__caption--l">Message history</caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Date sent</th>
            <th scope="col" class="govuk-table__header">Message</th>
            <th scope="col" class="govuk-table__header">Sent by</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td scope="row" class="govuk-table__cell">5:04pm <br> 4 Dec<br> 2024</td>
            <td class="govuk-table__cell">The recent case change you have requested will be carried out on 7 December 2024</td>
            <td class="govuk-table__cell">CMS</td>
          </tr>
          <tr class="govuk-table__row">
            <td scope="row" class="govuk-table__cell">3:00pm <br> 4 Dec <br> 2024</td>
            <td class="govuk-table__cell">{{data['connectMessage']}}</td>
            <td class="govuk-table__cell">You</td>
          </tr>
          <tr class="govuk-table__row">
            <td scope="row" class="govuk-table__cell">9:03am <br> 1 Dec <br> 2024</td>
            <td class="govuk-table__cell">Hello, please could you confirm that the date of the first missed payment was 3 Nov 2024?</td>
            <td class="govuk-table__cell">CMS</td>
          </tr>

      </table>

      
	  </div>
	  </div>

{% endblock %}