{% extends "layouts/layout.njk" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

{% block pageTitle %}
  My messages and contact history
{% endblock %}

{% block content %}

  {{ govukBackLink({
    text: "Back",
    href: "javascript: window.history.go(-1)"
  }) }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Upload evidence</h1>
      {# {{ govukWarningText({
        text: "Uploading inappropriate or offensive files including photographs of any children will result in us taking action against you. ",
        iconFallbackText: "Warning"
      }) }} #}

      <p class="govuk-body"><b>Subject:</b> Change to other parent income for Jack</p>
      <p class="govuk-body">We need you to upload evidence for a recent change:</p>

      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header govuk-table__caption--l">Latest message</th>
            <th scope="col" class="govuk-table__header"></th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Please can you provide evidence of the partial payment for 3 Nov 2024 through Upload Evidence before 29 Jan 2025?</td>
            <td scope="row" class="govuk-table__cell">9:03am <br> 24 Nov</td>
          </tr>
      </table>

      <p class="govuk-body">You can upload files such as a payslip, bank statement or a court order. You can use:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>a clear photograph</li>
        <li>an existing word document or spreadsheet saved as a PDF file</li>
        <li>a scanned document</li>
      </ul>
      <h1 class="govuk-heading-m">What you need to check</h1>
      <p class="govuk-body">Make sure that:</p>
      <ul class="govuk-list govuk-list--bullet">
          <li>files are 20MB or less</li>
          <li>file names only include letters a-z, numbers, hyphens, underscores, full stops and spaces</li>
          <li>file types are PDF, JPEG, JPG, GIF, PNG, TIFF or TIF</li>
          <li>any PDFs are not password protected</li>
        </ul>

        <div class="govuk-inset-text">
          It can take up to 8 weeks to register a lasting power of attorney if there are no mistakes in the application.
        </div>

      <h2 class="govuk-heading-s">Add a file</h2>

      <form action="cc-evidence-sent" method="POST">
        {{ govukSummaryList({
          rows: [
            {
              key: {
                html: '<p class="govuk-body">Document 1</p>'
              },
              actions: {
                items: [
                  {
                    href: "#",
                    text: "Remove",
                    classes: 'hidden remove-file'
                  }
                ]
              },
              classes: 'row-1'
            },
            {
              key: {
                html: '<p class="govuk-body">Document 2</p>'
              },
              actions: {
                items: [
                  {
                    href: "#",
                    text: "Remove",
                    classes: 'hidden remove-file'
                  }
                ]
              },
              classes: 'row-2 hidden'
            },
            {
              key: {
                html: '<p class="govuk-body">Document 3</p>' 
              },
              actions: {
                items: [
                  {
                    href: "#",
                    text: "Remove",
                    classes: 'hidden remove-file'
                  }
                ]
              },
              classes: 'row-3 hidden'
            },
            {
              key: {
                html: '<p class="govuk-body">Document 4</p>' 
              },
              actions: {
                items: [
                  {
                    href: "#",
                    text: "Remove",
                    classes: 'hidden remove-file'
                  }
                ]
              },
              classes: 'row-4 hidden'
            },
            {
              key: {
                html: '<p class="govuk-body">Document 5</p>' 
              },
              actions: {
                items: [
                  {
                    href: "#",
                    text: "Remove",
                    classes: 'hidden remove-file'
                  }
                ]
              },
              classes: 'row-5 hidden'
            }
          ]
        }) }}

        {{ govukButton({
          text: "Upload another file",
          type: 'button',
          classes: "govuk-button--secondary add-file"
        }) }}

        {{ govukInsetText({
          text: "You can only add 5 files at a time.",
          classes: 'hidden max-files-warning'
        }) }}

        <h2 class="govuk-heading-m">Declaration</h2>
        <p class='govuk-body'>I confirm that these files relate to my case and do not contain offensive material or photographs of any children.</p>
{# 
        {{ govukTextarea({
          name: "more-detail-on-file",
          id: "more-detail-on-file",
          label: {
            text: "Describe the evidence you are uploading"
          },
          hint: {
            text: "Don't include personal or financial information, for example, your National Insurance number."
          }
        }) }} #}

        {{ govukButton({
          text: "Upload files",
          classes: "govuk-button"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}