{% extends "layouts/layout.njk" %}

{% block header %}
  {# {% include "includes/header_handover.njk" %} #}
  {% include "includes/header.njk" %}
  {% endblock %}

{% block beforeContent %}
  {% include "includes/partials/account-menu-pp.njk" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    
<a href="javascript: window.history.go(-1)" class="govuk-back-link">Back</a>


<div class="govuk-form-group">
  <fieldset class="govuk-fieldset">
        <form class="form" action="/what-changed-pp-answer" method="POST">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
      <h1 class="govuk-fieldset__heading">
        What has changed?
      </h1>
    </legend>
    <div class="govuk-radios" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="whatChanged" name="whatChanged" type="radio" value="finance">
        <label class="govuk-label govuk-radios__label" for="whatChanged">
         I have stopped financially supporting {{ data['whichOtherChild'] }}
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="whatChanged-2" name="whatChanged" type="radio" value="adoption">
        <label class="govuk-label govuk-radios__label" for="whatChanged-2">
          {{ data['whichOtherChild'] }} has been adopted
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="whatChanged-3" name="whatChanged" type="radio" value="education">
        <label class="govuk-label govuk-radios__label" for="whatChanged-3">
          {{ data['whichOtherChild'] }} has left full time education
        </label>
      </div>
    </div>
  </fieldset>                                                                                                                                                                                          
</div>
  <button type="submit" class="govuk-button" data-module="govuk-button">
    Continue
  </button>
</form>
</div>
</div>
</main>
</div>

{% endblock %}