{% extends "govuk-prototype-kit/layouts/unbranded.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% include "govuk-prototype-kit/includes/homepage-top.njk" %}

    <div class="PrototypeSection">
    <h1 class="govuk-heading-xl">
      {{ serviceName }}
    </h1>

    <p class="govuk-body">
      Access the My Child Maintenance Case prototype, featuring various beta and in-design journeys being tested for the main site.
    </p>

    <br>

        {{ govukButton({
          text: "Login to Prototype",
          href: "/welcome"
        }) }}
      <p class="govuk-body">
      Version 1.0.3
    </p>
  </div>

  </div>
</div>

{% endblock %}


