{% extends "govuk-prototype-kit/layouts/unbranded.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% include "govuk-prototype-kit/includes/homepage-top.njk" %}

    <div class="PrototypeSectionMCMC">
    <h1 class="govuk-heading-xl">
      {{ serviceName }}
    </h1>

    <p class="govuk-body">
      Access the My Child Maintenance Case prototype, featuring various beta and in-design journeys being tested for the main site.
    </p>

    <br>

        {{ govukButton({
          text: "Login to Prototype",
          href: "/welcome"
        }) }}
      <p class="govuk-body">
      Version 1.0.5
    </p>
  </div>

  <br> <br>


    <h1 class="govuk-heading-l">
      Prototyped Journeys
    </h1>

    <p class="govuk-body">
      Access individual journeys of prototyped MCMC that were taken to UR.
    </p>

    <p class="govuk-body">
      Due to our recent prototype migration, several journeys are facing issues and defects that may impact functionality, fixes are currently underway
    </p>

    <div class="PrototypeSection">Operational</div>
    <div class="PrototypeSectionWarning">Accessible but with functional defects</div>
    <div class="PrototypeSectionFix">Inaccessible</div>
    
    <br><br>

    <div class="PrototypeSectionWarning">
    <h1 class="govuk-heading-m">
     <a href="/pages/messages/upload-documents-landing" class="govuk-link">Upload Evidence</a>
    </h1>
      <p class="govuk-body">
      19 June 2025
    </p>
  </div>

    <br>

  <div class="PrototypeSectionWarning">
    <h1 class="govuk-heading-m">
      <a href="/pages/report-change/income-and-expenses/income/pp/p1-start" class="govuk-link">Change of Income</a>
    </h1>
      <p class="govuk-body">
      26 March 2025
    </p>
  </div>

  <br>

  <div class="PrototypeSectionWarning">
    <h1 class="govuk-heading-m">
      <a href="/pages/caseworker-connect" class="govuk-link">Customer Connect</a>
    </h1>
      <p class="govuk-body">
      29 November 2024
    </p>
  </div>

    <br>

  <div class="PrototypeSectionWarning">
    <h1 class="govuk-heading-m">
      <a href="/pages/report-change/payments/ctst/p1-start" class="govuk-link">Change to Service Type</a>
    </h1>
      <p class="govuk-body">
      12 September 2024
    </p>
  </div>

  <div class="PrototypeSectionWarning">
    <h1 class="govuk-heading-m">
      <a href="/pages/report-change/payments/ctst/corroboration/p1-start" class="govuk-link">Change to Service Type Corroboration</a>
    </h1>
      <p class="govuk-body">
      12 September 2024
    </p>
  </div>

    <br>

    

  <div class="PrototypeSectionWarning">
    <h1 class="govuk-heading-m">
      <a href="/pages/report-change/shared-care/shared-care-start" class="govuk-link">Shared care</a>
    </h1>
      <p class="govuk-body">
      29 July 2024
    </p>
  </div>

    <br>

    <div class="PrototypeSectionFix">
    <h1 class="govuk-heading-m">
      DP onboarding - Undergoing fix
    </h1>
      <p class="govuk-body">
      23 May 2024
    </p>
  </div>

    <br>

  <div class="PrototypeSectionFix">
    <h1 class="govuk-heading-m">
      Mobile redesign - Undergoing fix
    </h1>
      <p class="govuk-body">
      19 April 2024
    </p>
  </div>
  
  {% if (GOVUKPrototypeKit.isDevelopment) %}

  <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--xl">

  <h1 class="govuk-heading-xl">
      MCMC User Research 
    </h1>

  <h1 class="govuk-heading-m">Upload evidence </h1> 
  <p class="govuk-body"><a href="https://dwpdigital.atlassian.net/wiki/spaces/CMOL/pages/133973411264/Upload+Evidence+-+Insights+to+Actions" class="govuk-link">Confluence</a></p>

  <h1 class="govuk-heading-m">Change of income </h1> 
  <p class="govuk-body"><a href="https://dwpdigital.atlassian.net/wiki/spaces/CMOL/pages/133894995992/Reporting+a+Change+of+Income+-+User+Research+-+Insights+to+Actions" class="govuk-link">Confluence</a></p>
  
  <h1 class="govuk-heading-m">Customer Connect </h1> 
  <p class="govuk-body"><a href="https://dwpdigital.atlassian.net/wiki/spaces/CMOL/pages/133827330239/Customer+Connect+Customer+Focus+User+Research+-+Insights+to+Actions" class="govuk-link">Confluence</a></p>
  
  <h1 class="govuk-heading-m">Change to Service Type </h1> 
  <p class="govuk-body"><a href="https://dwpdigital.atlassian.net/wiki/spaces/CMOL/pages/133764710401/Change+to+Service+Type+Reporting+and+Corroboration+User+Research+-+Insights+to+Actions" class="govuk-link">Confluence</a></p>

  <h1 class="govuk-heading-m">Shared Care </h1> 
  <p class="govuk-body"><a href="https://dwpdigital.atlassian.net/wiki/spaces/CMOL/pages/133737316540/Shared+Care+UR+-+Insights+to+Actions" class="govuk-link">Confluence</a></p>
  
  <h1 class="govuk-heading-m">Mobile </h1> 
  <p class="govuk-body"><a href="https://dwpdigital.atlassian.net/wiki/spaces/CMOL/pages/133709204340/UR+on+Mobile+Insights+to+Action" class="govuk-link">Confluence</a></p>

  <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--xl">

  {% endif %}

  </div>
</div>

{% endblock %}


