{% extends "layouts/main.njk" %}

{% block content %}
{{ govukBackLink({
      "text": "Back",
      "href": "javascript: window.history.go(-1)"
    }) 
}}

	<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Who is {{data['childrentree-whichChild']}}'s main day-to-day carer now?</h1>

 
      <form class="form" action="ct-otherCares" method="POST">

        {% set phoneHtml %}
        {{ govukDateInput({
          id: "passport-issued",
          namePrefix: "passport-issued",
          fieldset: {
            legend: {
              text: "When was your passport issued?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            text: "For example, 27 3 2007"
          }
        }) }}
        {% endset -%}


        {{ govukRadios({
          name: "contact",
          fieldset: {
            legend: {
              text: "How would you prefer to be contacted?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            text: "Select one option"
          },
          items: [
            {
              value: "Yes",
              text: "Yes"
            },
            {
              value: "No",
              text: "No",
              conditional: {
                html: phoneHtml
              }
            }
          ]
        }) }}

  
      <button type="submit" class="govuk-button">
        Continue
      </button>
	 </form>

	  </div>
	  </div>

{% endblock %}