{% extends "layouts/layout.njk" %}

{% block pageTitle %}
  Track Changes
{% endblock %}

{% block content %}

  <a href="/pages/track-changes/timeline-v2" class="govuk-back-link">Back to Track Changes</a><br></br>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        Additional income for Chris
      </h1>
      {{govukTag({
                text: "Rejected",
                classes: "govuk-tag--red govuk-!-margin-bottom-3"
            })}}
    <p class="govuk-body">
              We have completed and closed your change report. Your change has been rejected and <a href="/pages/messages" class="govuk-link govuk-!-margin-top-3">we have sent you a letter explaining why.</a>.
            </p>
    </div>
  </div>
{% endblock %}