{% extends "layouts/layout.njk" %}

{% block pageTitle %}
  Track Changes
{% endblock %}

{% block content %}

  <div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/onlinerevive-di/secure/">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/onlinerevive-di/secure/track-your-change-requests">Track changes</a>
    </li>
    <li class="govuk-breadcrumbs__list-item" aria-current="page">Change details</li>
  </ol>

  </br>


    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Change to shared care for Ben
        </h1>
        {# <p class="govuk-body">
          <a href="/onlinerevive-di/secure/upload-evidence/select-files/1-QBY9ZHY" class="govuk-link govuk-!-margin-top-3">Upload evidence</a>
        </p> #}
        <h2 class="govuk-heading-l">Progress</h2>
      </div>
    </div>

  <div class="cmg-timeline">
    
      <div class="cmg-timeline__item">
        <div class="cmg-timeline__header">
          <h3 class="govuk-heading-m cmg-timeline__title">
            Reported on
          </h3>
        </div>

        <p class="govuk-body cmg-timeline__date govuk-!-margin-top-3">2 March 2026</p></div>
    
      <div class="cmg-timeline__item">
        <div class="cmg-timeline__header">
          <h3 class="govuk-heading-m cmg-timeline__title">
            Most recent update
          </h3>
        </div>

        <p class="govuk-body cmg-timeline__date govuk-!-margin-top-3">
    
        Today
      
    
    </p><p class="govuk-body">
            <strong class="govuk-tag govuk-tag--blue govuk-!-margin-top-3 "> Received
  


            </strong>
          </p><p></p><p class="govuk-body cmg-timeline__description govuk-!-margin-top-3">
            We aim to start working on reports within 7 days. Once a report has been   
            assigned, the status will change to in progress.  
    
    
          </p></div>
    
  </div>



    
   <div class="cmg-timeline-grey">
    
      <div class="cmg-timeline-grey__item">
        <div class="cmg-timeline__header">
          <h3 class="govuk-heading-m cmg-timeline-grey__title">
            Expected completion date
          </h3>
        </div>

        <p class="govuk-body cmg-timeline-grey__date govuk-!-margin-top-3">25 April 2026</p><p class="govuk-body cmg-timeline-grey__description govuk-!-margin-top-3">
            We will tell you if the change has been accepted or rejected.
          </p></div>
    
  </div>




        {% endblock %}